force-app/main/default/flows/Automatische_mail_naar_ICA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailIca</name>
        <label>EmailIca</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentAttachments</name>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>BodyMailIca</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
        </inputParameters>
        <inputParameters>
            <name>SendBCCthisOneEmailAddress</name>
            <value>
                <stringValue>info@farmacontent.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisOneEmailAddress</name>
            <value>
                <stringValue>r.vanwemmel@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>support@farmacontent.atlassian.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Nieuwe Klant voor FarmaContent !</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PostChatterNotification</name>
        <label>PostChatterNotification</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>EmailIca</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyAccountOwnerInChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetAccountInfo.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignAccountID</name>
        <label>AssignAccountID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBillingAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactIDinfo</name>
        <label>ContactIDinfo</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactID.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_4</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DatumVandaag2</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Automatische mail naar ICA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatische mail naar ICA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BillingAccountInfo</name>
        <label>BillingAccountInfo</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBillingAccount.BillingAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillingAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_4</name>
        <label>Get Records 4</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostChatterNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactIDinfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillingAccount</name>
        <label>GetBillingAccountID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BillingAccountInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountBillingAccount_Relationhship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAccount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactID</name>
        <label>GetContactID</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignAccountID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FarmaContent Overeenkomst</stringValue>
            </value>
        </filters>
        <object>Signed_Document__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyMailIca</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record}Hierbij de gegevens van de nieuwe klant voor FarmaContent&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ondernemingsnaam : &lt;/strong&gt;{!BillingAccountInfo.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;APB : {!GetAccountInfo.APB_SCN_Number__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Adres : &lt;/strong&gt;{!BillingAccountInfo.BillingAccount_Street__c}&lt;/p&gt;&lt;p&gt;{!BillingAccountInfo.BillingAccount_Postal_Code__c} {!BillingAccountInfo.BillingAccount_City__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;KBO : &lt;/strong&gt;{!BillingAccountInfo.BillingAccount_KBO__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Facturatie e-mail : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contactpersoon : &lt;/strong&gt;{!Get_Records_4.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact E-mail : &lt;/strong&gt;{!Get_Records_4.Email}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Telefoon :&lt;/strong&gt; {!Get_Records_4.Company_Phone__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link naar Contract Document : &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Link_naar_Contract__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyAccountOwnerInChatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dag {!GetAccountInfo.Owner.FirstName},
Het contract van FarmaContent is ondertekent en FarmaContent wordt nu geactiveerd voor jouw klant {!GetAccountInfo.Name} ({!GetAccountInfo.APB_SCN_Number__c}).  Zodra dit klaar is wordt jij en de klant hiervan verwittigd.</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DatumVandaag</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CreatedDate</elementReference>
        </value>
    </variables>
</Flow>
