force-app/main/default/flows/CASE_Update_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_to_record_collection</name>
        <label>Assign to record collection</label>
        <locationX>138</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Parent_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Milestone_Type_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.MilestoneTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.IsCompleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.TargetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Business_Hours_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Elapsed_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Target_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.TargetResponseInMins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Violated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.IsViolated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.CompletionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_milestone.Case.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneListrecord.Milestone_type_label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_milestone_record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Casemilestonerecordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MilestoneListrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_nbr_of_milestones</name>
        <label>count nbr of milestones</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>nbr_milestones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_milestones_for_case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>milestone_target</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>milestone_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;No milestones&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_milestones_available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_milestone_list_is_empty</name>
        <label>Check if milestone list is empty</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Delete_Case_Milestone_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_milestone_list_for_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_milestone</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_milestones_available</name>
        <label>Check milestones available</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Minimum_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbr_milestones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_milestone_list_for_case</targetReference>
            </connector>
            <label>Minimum one</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE Update Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE GEN Update Milestones</label>
    <loops>
        <name>for_each_milestone</name>
        <label>for each milestone</label>
        <locationX>50</locationX>
        <locationY>914</locationY>
        <collectionReference>get_milestones_for_case</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_milestone_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_in_Case_Milestone_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_in_Case_Milestone_List</name>
        <label>Create in Case Milestone List</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <inputReference>Casemilestonerecordcollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Case_Milestone_List</name>
        <label>Delete Case Milestone List</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>for_each_milestone</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>for_each_milestone</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <object>Case_Milestone_List__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_case_milestone_list_for_case</name>
        <label>Get case milestone list for case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_milestone_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Milestone_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_milestone_record</name>
        <label>Get milestone record</label>
        <locationX>138</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_record_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_milestone.MilestoneTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_milestones_for_case</name>
        <label>get milestones for case</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_nbr_of_milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>TargetDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_milestones_for_case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Casemilestonerecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Milestone_List__c</objectType>
    </variables>
    <variables>
        <name>milestone_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>milestone_target</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneListrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Milestone_List__c</objectType>
    </variables>
    <variables>
        <name>nbr_milestones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
