force-app/main/default/flows/CASEPORTAALV1_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assign_contactid</name>
        <label>assign contactid</label>
        <locationX>259</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ContactIDUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactIDUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountID</name>
        <label>AssignAccountID</label>
        <locationX>259</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AccountIDUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountUser.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactAccountUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCommunicationPreferences</name>
        <label>AssignCommunicationPreferences</label>
        <locationX>259</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>CommercialCommunication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commercial_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCommunication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Informatie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailadresFilledIn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactIDstoCollectionVariable</name>
        <label>AssignContactIDstoCollectionVariable</label>
        <locationX>347</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContacIDSAccountUser2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingContactToAanmelderName</name>
        <label>AssignExistingContactToAanmelderName</label>
        <locationX>468</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>AanmelderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aanmelder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfCheckboxNotificationPersonalEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContactToAanmelderName</name>
        <label>AssignNewContactToAanmelderName</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>AanmelderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQueueID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>bestandsidsassign</name>
        <label>bestandsidsassign</label>
        <locationX>259</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>BestandsIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filePasteUploader.fileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BooleanSendToAanmelder</name>
        <label>BooleanSendToAanmelder</label>
        <locationX>127</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SendToAanmelder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bestandsidsassign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_BooleanSendToAanmelder</name>
        <label>Copy 1 of BooleanSendToAanmelder</label>
        <locationX>391</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SendToAanmelder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bestandsidsassign</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nieuwe_contactpersoon_toevoegen</name>
        <choiceText>Nieuwe contactpersoon toevoegen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nieuwe contactpersoon toevoegen</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckIfAanmelderHasEmail</name>
        <label>CheckIfAanmelderHasEmail</label>
        <locationX>622</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>GetQueueID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasNoEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Aanmelder.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactHasNoEmail</targetReference>
            </connector>
            <label>HasNoEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCheckboxNotificationPersonalEmail</name>
        <label>CheckIfCheckboxNotificationPersonalEmail</label>
        <locationX>468</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>CheckIfAanmelderHasEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_CheckIfCheckboxNotificationPersonalEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueueID</targetReference>
            </connector>
            <label>Outcome 1 of CheckIfCheckboxNotificationPersonalEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailadresFilledIn</name>
        <label>EmailadresFilledIn</label>
        <locationX>259</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_BooleanSendToAanmelder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContact_Email.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BooleanSendToAanmelder</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstTimeUse</name>
        <label>FirstTime</label>
        <locationX>259</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>AssignCommunicationPreferences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstTimeCaselLogged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactIDUser.Case_Logged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommunicationPreferences</targetReference>
            </connector>
            <label>FirstTimeCaselLogged</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewContact</name>
        <label>NewContact?</label>
        <locationX>259</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Get_Aanmelder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewSelectedContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PicklistContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewContact</targetReference>
            </connector>
            <label>NewSelectedContact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectionChoiceSetContactNames</name>
        <collectionReference>GetContactDatafromAccountUser</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_RolBinnenApotheek</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>AccountContactRole</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_RolBinnenApotheek2</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ApotheekNaamZonderApotheek</name>
        <dataType>String</dataType>
        <expression>IF(
  BEGINS({!GetContactIDUser.Account.Name}, &quot;Apotheek &quot;),
  MID({!GetContactIDUser.Account.Name}, 10, LEN({!GetContactIDUser.Account.Name}) - 9),
  IF(
    BEGINS({!GetContactIDUser.Account.Name}, &quot;apotheek &quot;),
    MID({!GetContactIDUser.Account.Name}, 10, LEN({!GetContactIDUser.Account.Name}) - 9),
    {!GetContactIDUser.Account.Name}
  )
)</expression>
    </formulas>
    <formulas>
        <name>DefaultedCommercialCommunication</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Commercial_Information} = null, false, {!Commercial_Information})</expression>
    </formulas>
    <formulas>
        <name>DefaultedProductInformation</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Product_Informatie} = null, false, {!Product_Informatie})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CASEPORTAALV1_New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASEPORTAALV1_New</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>259</locationX>
        <locationY>674</locationY>
        <collectionReference>GetContactAccountUser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContactIDstoCollectionVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetContactDatafromAccountUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>KoppelBijlagen</label>
        <locationX>259</locationX>
        <locationY>3338</locationY>
        <collectionReference>BestandsIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Haal_ContentDocument_op</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmationScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_2</name>
        <label>CreateCase</label>
        <locationX>259</locationX>
        <locationY>3122</locationY>
        <assignRecordIdToReference>varCreatedCase</assignRecordIdToReference>
        <connector>
            <targetReference>GetCreatedCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Aanmelder__c</field>
            <value>
                <elementReference>AanmelderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behandelaarsgroep__c</field>
            <value>
                <stringValue>ContactDesk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContactIDUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailToAanmelder__c</field>
            <value>
                <elementReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortalUserID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Fg000002zZULIA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soort_Binnenkomst__c</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soort_Melding__c</field>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Korte_Omschrijving_1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_3</name>
        <label>Maak ContentDocumentLink aan</label>
        <locationX>347</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Haal_ContentDocument_op.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>GetCreatedCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <assignRecordIdToReference>NewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIDUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewContact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NieuweContactpersoon_Voornaam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>NewContact_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>NewContact_MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Aanmelder</name>
        <label>Get Aanmelder</label>
        <locationX>468</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignExistingContactToAanmelderName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PicklistContacts</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountUser</name>
        <label>GetAccountIDUser</label>
        <locationX>259</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAccountID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactIDUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets all the contactid&apos;s from the account to which the user is linked</description>
        <name>GetContactAccountUser</name>
        <label>GetAccountContactIDsAccountUser</label>
        <locationX>259</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountUser.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactDatafromAccountUser</name>
        <label>GetContactDatafromAccountUser</label>
        <locationX>259</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TestScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContacIDSAccountUser2</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactIDUser</name>
        <label>GetContactIDUser</label>
        <locationX>259</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_contactid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCreatedCase</name>
        <label>GetCreatedCase</label>
        <locationX>259</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewContact</name>
        <label>GetNewContact</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAccountContactRelationNewContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueID</name>
        <label>GetQueueID</label>
        <locationX>259</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Farmad Online Contactdesk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Haal_ContentDocument_op</name>
        <label>Haal ContentDocument op</label>
        <locationX>347</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Records_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AddPersonalEmailadres</name>
        <label>AddPersonalEmailadres</label>
        <locationX>490</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>GetQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Aanmelder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Rechtstreeks_e_mailadres</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountContactRelationNewContact</name>
        <label>UpdateAccountContactRelationNewContact</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>AssignNewContactToAanmelderName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Communication__c</field>
            <value>
                <elementReference>DefaultedCommercialCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Communcation__c</field>
            <value>
                <elementReference>DefaultedProductInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Rol_Binnen_de_apotheek3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CommunicationPreferences</name>
        <label>CommunicationPreferences</label>
        <locationX>127</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCommunicationPreferences</targetReference>
        </connector>
        <fields>
            <name>GreetingPreference</name>
            <extensionName>c:greetingPreferenceSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>259</locationX>
        <locationY>3746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMeldingMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Beste {!Get_Aanmelder.FirstName}{!GetNewContact.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je melding is aangemaakt in ons systeem en heeft het volgende meldingsnummer gekregen &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!GetCreatedCase.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We hebben ook een bevestigingsmail gestuurd naar jouw e-mailadres ({!Get_Aanmelder.Email}{!Rechtstreeks_e_mailadres}{!GetNewContact.Email}) en het algemene e-mailadres van de apotheek ({!GetContactIDUser.Email}).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Wat gebeurt er nu met je melding:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;1. Intake:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Een Farmad Online-medewerker bekijkt je vraag dagelijks tussen 9:00 en 17:00 uur.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We streven ernaar om je melding nog binnen hetzelfde dagdeel te kwalificeren en – indien mogelijk – direct telefonisch of per e-mail te beantwoorden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Is je vraag nog onduidelijk? Dan nemen we telefonisch contact met je op om extra informatie te verzamelen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;2. Doorsturen naar eerstelijnsmedewerkers&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Heeft je vraag gespecialiseerde kennis nodig, dan sturen we deze door naar onze Farmad Online 1ste lijnsmedewerkers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je ontvangt dan onmiddellijk een notificatie via e-mail dat je vraag is doorgezet&amp;nbsp;met een indicatie van de verwachte reactietermijn.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;3. Opvolging Melding&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je kan de opvolging van deze melding doen via het nieuwe klantenportaal via het menu &apos;Mijn meldingen&apos;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je ontvangt ook via e-mail een notificatie als er een antwoord wordt gegeven.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Met vriendelijke groeten,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Het Farmad Online Support Team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displaytext2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Beste {!Get_Aanmelder.FirstName}{!GetNewContact.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je melding is aangemaakt in ons systeem en heeft het volgende meldingsnummer gekregen &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!GetCreatedCase.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We hebben een bevestigingsmail gestuurd naar het algemene e-mailadres van de apotheek ({!GetContactIDUser.Email}).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Wat gebeurt er nu met je melding:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;1. Intake:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Een Farmad Online-medewerker bekijkt je vraag dagelijks tussen 9 en 17 uur.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We streven ernaar om je melding nog binnen hetzelfde dagdeel te kwalificeren en – indien mogelijk – direct telefonisch of per e-mail te beantwoorden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Is je vraag nog onduidelijk? Dan nemen we telefonisch contact met je op om extra informatie te verzamelen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;2. Doorsturen naar eerstelijnsmedewerkers&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Heeft je vraag gespecialiseerde kennis nodig, dan sturen we deze door naar onze Farmad Online 1ste lijnsmedewerkers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je ontvangt dan onmiddellijk een notificatie via e-mail dat je vraag is doorgezet&amp;nbsp;met een indicatie van de verwachte reactietermijn.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;3. Opvolging Melding&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je kan de opvolging van deze melding doen via het nieuwe klantenportaal via het menu &apos;Mijn meldingen&apos;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Je ontvangt ook via e-mail een notificatie als er een antwoord wordt gegeven.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Met vriendelijke groeten,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Het Farmad Online Support Team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactHasNoEmail</name>
        <label>ContactHasNoEmail</label>
        <locationX>490</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddPersonalEmailadres</targetReference>
        </connector>
        <fields>
            <name>TextOntbrekendEmailadres</name>
            <fieldText>&lt;p&gt;Beste {!Get_Aanmelder.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We zien dat we geen rechtstreeks e-mailadres hebben van jou in onze database om je op de hoogte te houden van de status van deze melding.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kan je hieronder je rechtstreekse e-mailadres invullen.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Indien je dit leeg laat zullen we enkel op het algemene e-mailadres over deze melding communiceren ({!GetContactIDUser.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rechtstreeks_e_mailadres</name>
            <dataType>String</dataType>
            <fieldText>Rechtstreeks e-mailadres</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TestScreen</name>
        <label>NieuweMelding</label>
        <locationX>259</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FirstTimeUse</targetReference>
        </connector>
        <fields>
            <name>Maak_hier_een_nieuwe_melding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: tahoma;&quot;&gt;Maak hier een nieuwe melding aan voor Apotheek {!ApotheekNaamZonderApotheek}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TestScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TestScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextNewContact</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Vul hieronder je contactgegevens in&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Nieuwe contactpersoon toevoegen</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Korte_Omschrijving_1</name>
                    <dataType>String</dataType>
                    <fieldText>Korte Omschrijving</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Details</name>
                    <fieldText>Detailomschrijving</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>filePasteUploader</name>
                    <extensionName>c:filePasteUploader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fileIds</name>
                        <value>
                            <elementReference>BestandsIDs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PicklistContacts</name>
                    <choiceReferences>CollectionChoiceSetContactNames</choiceReferences>
                    <choiceReferences>Nieuwe_contactpersoon_toevoegen</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>test</stringValue>
                    </defaultValue>
                    <fieldText>Aanmelder</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PreferenceSelector</name>
                    <extensionName>c:greetingPreferenceSelector</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Aanmelder.Preferred_Greeting__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NieuweContactpersoon_Voornaam</name>
                    <dataType>String</dataType>
                    <fieldText>Voornaam</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Nieuwe contactpersoon toevoegen</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewContact_LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Achternaam</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Nieuwe contactpersoon toevoegen</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewContact_MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobiel nummer </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rol_Binnen_de_apotheek3</name>
                    <choiceReferences>PCS_RolBinnenApotheek2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rol Binnen de apotheek</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Nieuwe contactpersoon toevoegen</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Ik wil ook een notificaties over deze melding via mail ontvangen op mijn persoonlijke e-mailadres</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DisplayDisclamerEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(40, 39, 39);&quot;&gt;Vul hieronder je persoonlijk e-mailadres om notificaties te ontvangen over deze melding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewContact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PicklistContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EmailPreferences</name>
            <fieldText>&lt;p&gt;Wens je Farmad gerelateerde informatie te ontvangen op dit emailadres? Duidt hiernaast aan&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PicklistContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Commercial_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Commerciële communicatie</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Uitnodigingen voor events, commerciële acties,&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PicklistContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Informatie</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Product Communicatie</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Informatie over updates van de software, nieuwe features, productwebinars, etc...&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PicklistContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nieuwe_contactpersoon_toevoegen</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ik_wil_ook_een_notificaties_via_mail_ontvangen_op_mijn_persoonlijke_e_mailadres</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TestScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Indienen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>133</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactIDUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AanmelderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>PicklistContacts</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountIDUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>geuploade bestandsid&apos;s</description>
        <name>BestandsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CommercialCommunication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContacIDSAccountUser2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIDUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCommunication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SendToAanmelder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
