force-app/main/default/flows/CASE_GEN_MILESTONES_close_milestones_when_case_closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>nbr_milestones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_open_milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_number_of_milestones_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_milestone_fields</name>
        <label>Initialize milestone fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Milestone_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_open_milestones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_number_of_milestones_open</name>
        <label>Check number of milestones open</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_milestone_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Minimum_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbr_milestones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_open_milestone</targetReference>
            </connector>
            <label>Minimum one</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Seconds</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.LastModifiedDate} - {!$Record__Prior.CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CASE GEN MILESTONES close milestones when case closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE GEN MILESTONES close milestones when case closed</label>
    <loops>
        <name>For_each_open_milestone</name>
        <label>For each open milestone</label>
        <locationX>68</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_open_milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Complete_related_milestones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_milestone_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_open_milestones</name>
        <label>Get open milestones</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>TargetDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_related_milestones</name>
        <label>Complete related milestone</label>
        <locationX>156</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>For_each_open_milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_open_milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_milestone_fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004IjnQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004L1WQAU</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_milestone_list</name>
        <label>Update milestone list</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <flowName>CASE_GEN_MILESTONES_Update_Milestones_list</flowName>
        <inputAssignments>
            <name>case_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Milestone_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestone_target</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbr_milestones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
