force-app/main/default/flows/CASE_TIMER_Change_status_at_resumetime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_status_to_denied</name>
        <label>Set status to denied</label>
        <locationX>506</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Timer_status_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_timer_status_to_executed</name>
        <label>Set timer status to executed</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Timer_status_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_status_of_timer_record</name>
        <label>Check status of timer record</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Set_status_to_denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Scheduled</defaultConnectorLabel>
        <rules>
            <name>ScheduledOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Timer_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_status_of_the_linked_case_record</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE TIMER Change status at resumetime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE TIMER Change status at resumetime</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_status</name>
        <label>Set status</label>
        <locationX>374</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>Timer_status__c</field>
            <value>
                <elementReference>Timer_status_update</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_status_of_the_linked_case_record</name>
        <label>Update the status of the linked case record</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Set_timer_status_to_executed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.New_status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Case_Resume_Timer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Check_status_of_timer_record</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Resume_time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Timer_status_update</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Denied</stringValue>
        </value>
    </variables>
</Flow>
