force-app/main/default/flows/CASE_GEN_Enter_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>A_non_standard_service_or_change</name>
        <choiceText>A non-standard service or change (CHANGE REQUEST)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>change_request</stringValue>
        </value>
    </choices>
    <choices>
        <name>A_QUESTION</name>
        <choiceText>A QUESTION</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>question</stringValue>
        </value>
    </choices>
    <choices>
        <name>A_standard_service_SERVICE_REQUEST</name>
        <choiceText>A standard service (SERVICE REQUEST)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>service_request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Something_doesn_t_work_INCIDENT</name>
        <choiceText>Something doesn&apos;t work (INCIDENT)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>incident</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_account_known</name>
        <label>Check if account known</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_account_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No account</defaultConnectorLabel>
        <rules>
            <name>Unknown</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZZZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_account</targetReference>
            </connector>
            <label>Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_selected_type</name>
        <label>Check selected type</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_type_of_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Something_doesn_t_work_INCIDENT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_incident</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
        <rules>
            <name>Service_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_type_of_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A_standard_service_SERVICE_REQUEST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_service_request_for_account</targetReference>
            </connector>
            <label>Service Request</label>
        </rules>
        <rules>
            <name>Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_type_of_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A_QUESTION</elementReference>
                </rightValue>
            </conditions>
            <label>Question</label>
        </rules>
        <rules>
            <name>Change_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_type_of_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A_non_standard_service_or_change</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_change_request_for_account</targetReference>
            </connector>
            <label>Change request</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE GEN Enter New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE GEN Enter New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_account_record</name>
        <label>Get account record</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_valid_entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_active_cases</name>
        <label>Get open active cases</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_call_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_valid_entitlements</name>
        <label>Get valid entitlements</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_open_active_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_call_details</name>
        <label>Enter call details</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_selected_type</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Account: {!Get_account_record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Valid_entitlements</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Entitlement</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Entitlements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_valid_entitlements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3fec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Entitlement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-4161&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Entitlement_Business_Hours__c&quot;,&quot;guid&quot;:&quot;column-fbb8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Hours&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Entitlement Business Hours&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-8937&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_valid_entitlements</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_type_of_call</name>
            <choiceReferences>Something_doesn_t_work_INCIDENT</choiceReferences>
            <choiceReferences>A_QUESTION</choiceReferences>
            <choiceReferences>A_standard_service_SERVICE_REQUEST</choiceReferences>
            <choiceReferences>A_non_standard_service_or_change</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select type of call</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Open_cases</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_active_cases</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Open active cases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>SuppliedName,Record_Type__c,CreatedDate,Subject,Status,Case_URL__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>SuppliedName:107, Record_Type__c:120, CreatedDate:187, Subject:410, Status:102, Case_URL__c:358</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Record_Type__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Status:standard:empty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:case_change_status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_account</name>
        <label>Select account</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_account_record</targetReference>
        </connector>
        <fields>
            <name>Select_account1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_account_known</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_a_service_request_for_account</name>
        <label>Create a service request for account</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <flowName>SERVICE_Create_a_new_request</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_change_request_for_account</name>
        <label>Create change request for account</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <flowName>CHANGE_Create_New_app</flowName>
        <inputAssignments>
            <name>account_id</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description_input</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject_input</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_new_incident</name>
        <label>Create new incident</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <flowName>INCIDENT_Create_New</flowName>
        <inputAssignments>
            <name>account_id</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description_in</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>entitlement_id</name>
            <value>
                <elementReference>Valid_entitlements.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject_in</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Entitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
