force-app/main/default/flows/CHANGE_Reassign_to_Change_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_to_NewStatus</name>
        <label>Assign New to NewStatus</label>
        <locationX>220</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RestartFlow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_owner_and_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_recordtype</name>
        <label>Check recordtype</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_owner_and_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004IjnQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner_and_status</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
        <rules>
            <name>SR_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004JZiQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner_and_status</targetReference>
            </connector>
            <label>SR Activity</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004IlwQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_to_NewStatus</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CHANGE Reassign to Change Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE Reassign to Change Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_owner_and_status</name>
        <label>Assign owner and status</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>Owner_previous_grp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
