force-app/main/default/flows/CHANGE_3_2_CAB_first_approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_reporter_about_CAB_decision</name>
        <label>Notify reporter about CAB decision</label>
        <locationX>710</locationX>
        <locationY>1166</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_change_record_after_CM_triage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CABInitialResultFeedback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Refresh_change_record.Output_case.Case_Reporter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Change Advisory Board feedback</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_choice</name>
        <label>Assign choice</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Choice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_step_choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignToUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>usr.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetDateAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_date_for_analysis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignToUser_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_assigned_user_record.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_onhold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_days_on_hold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_management_choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_on_hold</name>
        <label>Assign status on hold</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CAB_initial_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On_hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CAB_initial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResumeTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResumeTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CAB_initial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_resume_timer_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_approved_for_analysis</name>
        <label>Assign status to approved for analysis</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CAB_initial_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved_for_analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CAB_initial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignToUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetDateAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_date_for_analysis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RefreshedCaseRecord.Owner_previous_group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_CAB_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_closed</name>
        <label>Assign status to closed</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CAB_initial_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CAB_initial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CAB_initial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_CAB_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_Portfolio_Board</name>
        <label>Assign status to Portfolio Board</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Owner_after_CAB_initial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CAB_initial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_CAB_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_rejected</name>
        <label>Assign status to rejected</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CAB_initial_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CAB_initial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CAB_initial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_CAB_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refreshed_case</name>
        <label>Refreshed case</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RefreshedCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refresh_change_record.Output_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_initial_input</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CAB_approved_and_close</name>
        <choiceText>Approve and Close</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approvedandclose</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAB_approved_for_detailed_analysis</name>
        <choiceText>CAB approved for detailed analysis (must be assigned to a user)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliant_forward_to_CAB_for_initial_approval</name>
        <choiceText>Compliant - forward to CAB for initial approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>compliant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incomplete_send_back_to_requester_document_in_the_feed</name>
        <choiceText>Incomplete - send back to requester (document in the feed)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>incomplete</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_hold</name>
        <choiceText>On hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>onhold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portfolio_Board</name>
        <choiceText>Portfolio Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>portfolioboard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_management_choice</name>
        <label>Change management choice</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_status_to_rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>On_hold_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>On_hold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_on_hold</targetReference>
            </connector>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CAB_approved_for_detailed_analysis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_assigned_user</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Portfolio_Board_CAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Portfolio_Board</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_to_Portfolio_Board</targetReference>
            </connector>
            <label>Portfolio Board</label>
        </rules>
        <rules>
            <name>Approve_and_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CAB_approved_and_close</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_to_closed</targetReference>
            </connector>
            <label>Approve and Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_assigned_user</name>
        <label>Check assigned user</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Validate_initial_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No user assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignToUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_to_approved_for_analysis</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()  + {!Days_onhold}</expression>
    </formulas>
    <formulas>
        <name>ResumeTimerName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Refresh_change_record.Output_case.Subject}, 75)</expression>
    </formulas>
    <interviewLabel>CHANGE 3.2 CAB first approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE 3.2 CAB first approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_resume_timer_record</name>
        <label>Create resume timer record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Notify_reporter_about_CAB_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ResumeTimerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_status__c</field>
            <value>
                <stringValue>Compliant_on_CAB_agenda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resume_time__c</field>
            <value>
                <elementReference>ResumeTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Resume_Timer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_assigned_user_record</name>
        <label>Get assigned user record</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>usr.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_change_record_after_CM_triage</name>
        <label>Update change record after CM triage</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_until_on_hold__c</field>
            <value>
                <elementReference>ResumeTimeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_after_CAB_initial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>Owner_previous_grp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CAB_initial_next_step</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Validate_initial_input</name>
        <label>Validate initial input</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_assigned_user_record</targetReference>
        </connector>
        <fields>
            <name>instructions</name>
            <fieldText>&lt;p&gt;Submit this Change Request to the Change Advisory Board for approval to continue and select the CAB decision below. &lt;/p&gt;&lt;p&gt;Make sure the CAB decision is documented with a post in the change request record. The submitter of the change will receive an e-mail with the decision of the CAB.&lt;/p&gt;&lt;p&gt;Assign a user for more detailed evaluation if appropriate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>usr</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign to user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SelectedAnalysisUser.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Target_date_for_analysis</name>
            <dataType>Date</dataType>
            <fieldText>Target date for analysis</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_days_on_hold</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>30.0</numberValue>
            </defaultValue>
            <fieldText>Number of days on hold</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Onholdtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(192, 37, 37);&quot;&gt;This record has been put on hold until {!Refresh_change_record.Output_case.Date_Time_until_on_hold__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RefreshedCaseRecord.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>On_hold</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_step_choice</name>
            <choiceReferences>CAB_approved_for_detailed_analysis</choiceReferences>
            <choiceReferences>Portfolio_Board</choiceReferences>
            <choiceReferences>On_hold</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <choiceReferences>CAB_approved_and_close</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CAB decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit CAB decision</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_change_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Refresh_change_record</name>
        <label>Refresh change record</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Refreshed_case</targetReference>
        </connector>
        <flowName>COMPLAINT_1_5_Get_actual_complaint_record</flowName>
        <inputAssignments>
            <name>Input_case</name>
            <value>
                <elementReference>Input_case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CABInitialResultFeedback</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Change Hi,&lt;/p&gt;&lt;p&gt;Your change request with subject &lt;strong&gt;{!Refresh_change_record.Output_case.Subject}&lt;/strong&gt; has received the status &lt;strong&gt;{!CAB_initial_next_step}&lt;/strong&gt; after review by the Change Advisory Board.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!RefreshedCaseRecord.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the record.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignToUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignToUser_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CAB_initial_next_step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Days_onhold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Input_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Owner_after_CAB_initial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Refresh_change_record.Output_case.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Owner_previous_grp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefreshedCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ResumeTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAnalysisUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TargetDateAnalysis</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
