force-app/main/default/flows/CHANGE_1_Initialize_change_request_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_Change_management</name>
        <label>Send email to Change management</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ChangeRequestEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>email_assignees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new change has been requested by {!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_OwnerID</name>
        <label>Assign OwnerID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OwnerID_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_fields</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CHANGE 1. Initialize change request fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE 1. Initialize change request fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_change_record</name>
        <label>Get change record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OwnerID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Initialize_fields</name>
        <label>Initialize fields</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_the_email_ids_of_the_assigned_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>OwnerID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_change_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_the_email_ids_of_the_assigned_queue</name>
        <label>Get the email-ids of the assigned queue</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_email_to_Change_management</targetReference>
        </connector>
        <flowName>GENERIC_emailids_of_a_queue</flowName>
        <inputAssignments>
            <name>QueueId</name>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>email_assignees</assignToReference>
            <name>Queue_emailids</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ChangeRequestEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;&lt;p&gt;A Change Request with subject&amp;nbsp;&lt;strong&gt;{!Get_change_record.Subject}&lt;/strong&gt;&amp;nbsp;has been assigned to the queue in which you are a member.&lt;/p&gt;&lt;p&gt;If you will handle this activity, start with the &apos;&lt;strong&gt;Assign to me&lt;/strong&gt;&apos; button.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_change_record.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the Change Request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;The Service Management team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email_assignees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
