force-app/main/default/flows/CHANGE_GEN_Reassign_and_change_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_to_NewStatus</name>
        <label>Assign New to NewStatus</label>
        <locationX>220</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RestartFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewStatusSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_new_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_owner_and_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Runids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_work_item.StepInstance.OrchestrationInstanceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_found_orchestration_items</name>
        <label>count found orchestration items</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>nbr_items</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Orchestration_Work_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_work_item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliant_on_CAb_agenda</name>
        <choiceText>Compliant - on CAB agenda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliant_on_CAB_agenda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Evaluated_on_CAB_agenda</name>
        <choiceText>Evaluated - on CAB agenda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Evaluated_on_CAB_agenda</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_recordtype</name>
        <label>Check recordtype</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_owner_and_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004IjnQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner_and_status</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
        <rules>
            <name>SR_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004JZiQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner_and_status</targetReference>
            </connector>
            <label>SR Activity</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004IlwQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_status</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CHANGE GEN Reassign and change status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE GEN Reassign and change status</label>
    <loops>
        <name>For_each_work_item</name>
        <label>For each work item</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Orchestration_Work_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_recordtype</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Orchestration_Work_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orchestration_Work_Items</name>
        <label>Get Orchestration Work Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_found_orchestration_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowOrchestrationWorkItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_owner_and_status</name>
        <label>Assign owner and status</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_selected__c</field>
            <value>
                <elementReference>NewStatusSelected</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>For_each_work_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_work_item.StepInstance.OrchestrationInstanceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstance</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_status</name>
        <label>Select status</label>
        <locationX>220</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_to_NewStatus</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Select the desired status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_new_status</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Compliant_on_CAb_agenda</choiceReferences>
            <choiceReferences>Evaluated_on_CAB_agenda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select new status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbr_items</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewStatusSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner_previous_grp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Runids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
