force-app/main/default/flows/CHANGE_3_1_Request_Incomplete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_incomplete</name>
        <label>Email incomplete</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Request_incomplete_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RequestIncompleteBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Refresh_case.Output_case.Case_Reporter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Change request incomplete</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CHANGE 3.1 Request Incomplete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE 3.1 Request Incomplete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Reassign_to_change_management</name>
        <label>Reassign to change management</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Request_incomplete_screen</name>
        <label>Request incomplete screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reassign_to_change_management</targetReference>
        </connector>
        <fields>
            <name>IncompleteInstructions</name>
            <fieldText>&lt;p&gt;Update the request in line with the remarks and questions that are documented in the feed and resubmit the request to change management.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Resubmit the request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Refresh_case</name>
        <label>Refresh case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Email_incomplete</targetReference>
        </connector>
        <flowName>COMPLAINT_1_5_Get_actual_complaint_record</flowName>
        <inputAssignments>
            <name>Input_case</name>
            <value>
                <elementReference>Input_case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>RequestIncompleteBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;The change management team has reviewed your request with subject &lt;strong&gt;{!Refresh_case.Output_case.Subject}&lt;/strong&gt; and considers the request incomplete.&lt;/p&gt;&lt;p&gt;Go to the request and update it in line with the remarks in the change request feed.&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
