force-app/main/default/flows/CHANGE_AAA_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_final_CAB_decision</name>
        <label>Check final CAB decision</label>
        <locationX>798</locationX>
        <locationY>1709</locationY>
        <defaultConnector>
            <targetReference>Post_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_CAB_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_final_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Implementation</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>On_hold_CAB_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_final_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onhold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CAB_final</targetReference>
            </connector>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Portfolio_board_CAB_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_final_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>portfolioboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_to_Targetprocess</targetReference>
            </connector>
            <label>Portfolio board</label>
        </rules>
        <rules>
            <name>Approve_and_close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_final_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approveandclose</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_stage</targetReference>
            </connector>
            <label>Approve and close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_initial_CAB_result</name>
        <label>Check initial CAB result</label>
        <locationX>1480</locationX>
        <locationY>1385</locationY>
        <defaultConnector>
            <targetReference>Post_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_First_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analysis_step</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>On_hold_CAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_First_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onhold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CAB_initial</targetReference>
            </connector>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Portfolio_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_First_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>portfolioboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Targetprocess</targetReference>
            </connector>
            <label>Portfolio Board</label>
        </rules>
        <rules>
            <name>Approved_and_close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_First_decision.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approvedandclose</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_stage</targetReference>
            </connector>
            <label>Approved and close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_new_status</name>
        <label>Check new status</label>
        <locationX>1062</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Initialize_change_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliantb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_selected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant_on_CAB_agenda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CAB_initial</targetReference>
            </connector>
            <label>Compliant</label>
        </rules>
        <rules>
            <name>Evaluated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_selected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluated_on_CAB_agenda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CAB_final</targetReference>
            </connector>
            <label>Evaluated</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_selected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_change_fields</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_triage_result</name>
        <label>Check triage result</label>
        <locationX>1326</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Post_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_mgmt_triage.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incomplete_change_request</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
        <rules>
            <name>Compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_mgmt_triage.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAB_initial</targetReference>
            </connector>
            <label>Compliant</label>
        </rules>
        <rules>
            <name>On_hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_mgmt_triage.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onhold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Triage_by_change_management</targetReference>
            </connector>
            <label>On hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Decision 4</label>
        <locationX>1326</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Initialize_change_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RestartFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RestartFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Change_Status</targetReference>
            </connector>
            <label>RestartFlow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CHANGE AAA Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE</label>
    <orchestratedStages>
        <name>Add_to_Targetprocess</name>
        <label>Add to Targetprocess</label>
        <locationX>1722</locationX>
        <locationY>1493</locationY>
        <connector>
            <targetReference>Post_stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Confirm_targetprocess</name>
            <actionName>CHANGE_7_Add_to_Portfolio_Board</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ChangeManagement</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Confirm targetprocess</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Analysis_step</name>
        <label>Analysis step</label>
        <locationX>798</locationX>
        <locationY>1493</locationY>
        <connector>
            <targetReference>CAB_final</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>High_level_analysis</name>
            <actionName>CHANGE_4_Analysis_stage</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>CAB_First_decision.Outputs.AssignToUser_Name</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TargetDate</name>
                <value>
                    <elementReference>CAB_First_decision.Outputs.TargetDateAnalysis</elementReference>
                </value>
            </inputParameters>
            <label>High level analysis</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>CAB_final</name>
        <label>CAB final review</label>
        <locationX>798</locationX>
        <locationY>1601</locationY>
        <connector>
            <targetReference>Check_final_CAB_decision</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CAB_final_decision</name>
            <actionName>CHANGE_4_CAB_final_approval</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ChangeManagement</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>CAB final decision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>CAB_initial</name>
        <label>CAB initial review</label>
        <locationX>1480</locationX>
        <locationY>1277</locationY>
        <connector>
            <targetReference>Check_initial_CAB_result</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CAB_First_decision</name>
            <actionName>CHANGE_3_2_CAB_first_approval</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ChangeManagement</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Submit CAB decision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Implementation</name>
        <label>Implementation</label>
        <locationX>314</locationX>
        <locationY>1817</locationY>
        <connector>
            <targetReference>Post_stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Implementation_execution</name>
            <actionName>CHANGE_6_Implementation_stage</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>CAB_final_decision.Outputs.AssignToUser_Name</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Implementation execution</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Incomplete_change_request</name>
        <label>Incomplete change request</label>
        <locationX>50</locationX>
        <locationY>1277</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Triage_by_change_management</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Incomplete_request_screen</name>
            <actionName>CHANGE_3_1_Request_Incomplete</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Case_Reporter__r.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Incomplete request screen</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Initialize_change_fields</name>
        <label>Initialize change fields</label>
        <locationX>1326</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>Triage_by_change_management</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Initialize_change_request_fields</name>
            <actionName>CHANGE_1_Initialize_change_request_fields</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Initialize change request fields</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Post_stage</name>
        <label>Post stage</label>
        <locationX>1326</locationX>
        <locationY>2177</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_active_orchestration_to_false</name>
            <actionName>CASE_Update_active_orchestration</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActiveOrchestration</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Set active orchestration to false</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Pre_stage</name>
        <label>Pre stage</label>
        <locationX>1326</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_active_orchestration_to_true</name>
            <actionName>CASE_Update_active_orchestration</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActiveOrchestration</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Set active orchestration to true</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Refresh_group_memberships</name>
            <actionName>GENERIC_Update_user_record_with_group_memberships</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Refresh group memberships</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Triage_by_change_management</name>
        <label>Triage by change management</label>
        <locationX>1326</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>Check_triage_result</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Change_mgmt_triage</name>
            <actionName>CHANGE_2_1_Change_management_triage</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ChangeManagement</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Submit triage result</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Change_Status</name>
        <label>Update Change Status</label>
        <locationX>1062</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Check_new_status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Status</name>
            <actionName>CASE_GEN_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>StatusSelected</name>
                <value>
                    <elementReference>$Record.Status_selected__c</elementReference>
                </value>
            </inputParameters>
            <label>Update Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pre_stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004IlwQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RestartFlow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active_orchestration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
