force-app/main/default/flows/CHANGE_2_1_Change_management_triage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_reporter_about_triage_result</name>
        <label>Notify reporter about triage result</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_change_record_after_CM_triage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TriageResultFeedback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Refresh_change_record.Output_case.Case_Reporter__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Change request status feedback</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_choice</name>
        <label>Assign choice</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Choice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_step_choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_onhold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_days_on_hold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_management_choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_on_hold</name>
        <label>Assign status on hold</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CM_triage_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On_hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CM_triage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResumeTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResumeTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CM_triage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_resume_timer_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_compliant</name>
        <label>Assign status to compliant</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CM_triage_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant_on_CAB_agenda</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CM_triage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CM_triage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_triage_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_New</name>
        <label>Assign status to New</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CM_triage_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CM_triage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refresh_change_record.Output_case.Case_Reporter__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_case.Owner_previous_group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_change_record_after_CM_triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_to_rejected</name>
        <label>Assign status to rejected</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CM_triage_next_step</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_after_CM_triage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G9N000000MdcS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_after_CM_triage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_reporter_about_triage_result</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliant_forward_to_CAB_for_initial_approval</name>
        <choiceText>Compliant - forward to CAB for initial approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>compliant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incomplete_send_back_to_requester_document_in_the_feed</name>
        <choiceText>Incomplete - send back to requester (document in the feed)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>incomplete</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_hold</name>
        <choiceText>On hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>onhold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_management_choice</name>
        <label>Change management choice</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_status_to_rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>On_hold_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>On_hold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_on_hold</targetReference>
            </connector>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Compliant_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliant_forward_to_CAB_for_initial_approval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_to_compliant</targetReference>
            </connector>
            <label>Compliant_CM</label>
        </rules>
        <rules>
            <name>Incomplete_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incomplete_send_back_to_requester_document_in_the_feed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_to_New</targetReference>
            </connector>
            <label>Incomplete CM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+{!Days_onhold}</expression>
    </formulas>
    <formulas>
        <name>ResumeTimerName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Refresh_change_record.Output_case.Subject}, 75)</expression>
    </formulas>
    <interviewLabel>CHANGE 2.1. Change management triage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHANGE 2.1. Change management triage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_resume_timer_record</name>
        <label>Create resume timer record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Notify_reporter_about_triage_result</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ResumeTimerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resume_time__c</field>
            <value>
                <elementReference>ResumeTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Resume_Timer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_change_record_after_CM_triage</name>
        <label>Update change record after CM triage</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_until_on_hold__c</field>
            <value>
                <elementReference>ResumeTimeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_after_CM_triage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>Owner_previous_grp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CM_triage_next_step</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Validate_initial_input</name>
        <label>Validate initial input</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_choice</targetReference>
        </connector>
        <fields>
            <name>instructions</name>
            <fieldText>&lt;p&gt;Check and complete the following fields:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Business justification&lt;/li&gt;&lt;li&gt;category and sub-category&lt;/li&gt;&lt;li&gt;...&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;POST additional comments and justification for the next step in the feed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_days_on_hold</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>30.0</numberValue>
            </defaultValue>
            <fieldText>Number of days on hold</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Next_step_choice</name>
            <choiceReferences>Incomplete_send_back_to_requester_document_in_the_feed</choiceReferences>
            <choiceReferences>Compliant_forward_to_CAB_for_initial_approval</choiceReferences>
            <choiceReferences>On_hold</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Triage result</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit triage result</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_change_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Refresh_change_record</name>
        <label>Refresh change record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Validate_initial_input</targetReference>
        </connector>
        <flowName>COMPLAINT_1_5_Get_actual_complaint_record</flowName>
        <inputAssignments>
            <name>Input_case</name>
            <value>
                <elementReference>Input_case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>TriageResultFeedback</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;Your change request with subject &lt;strong&gt;{!Refresh_change_record.Output_case.Subject}&lt;/strong&gt; has received the status &lt;strong&gt;{!CM_triage_next_step}&lt;/strong&gt; after review by the change management team.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Refresh_change_record.Output_case.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the record.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CM_triage_next_step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Days_onhold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Input_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Owner_after_CM_triage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Refresh_change_record.Output_case.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Owner_previous_grp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
