force-app/main/default/flows/COMPLAINT_ZZZ_Accept.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_In_Progress_to_NewStatus</name>
        <label>Assign In Progress to NewStatus</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_owner_and_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_to_NewStatus</name>
        <label>Assign New to NewStatus</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_owner_and_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_previous_group</name>
        <label>Assign previous group</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_group_remains_the_same</name>
        <label>Previous group remains the same</label>
        <locationX>600</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Owner_previous_grp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_record.Owner_previous_group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_group</name>
        <label>Check group</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_if_user_belongs_to_previous_group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Group_memberships__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_case_record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_previous_group</targetReference>
            </connector>
            <label>Owner is group and user belongs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_belongs_to_previous_group</name>
        <label>Check if user belongs to previous group</label>
        <locationX>732</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Group_memberships__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_case_record.Owner_previous_group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_group_remains_the_same</targetReference>
            </connector>
            <label>Previous group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_recordtype</name>
        <label>Check recordtype</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_owner_and_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004IjnQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_to_NewStatus</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
        <rules>
            <name>SR_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129N0000004JZiQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_In_Progress_to_NewStatus</targetReference>
            </connector>
            <label>SR Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>534</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Assign_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_recordtype</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>COMPLAINT A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE GEN Assign to me</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>754</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>Owner_previous_grp</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_owner_and_status</name>
        <label>Assign owner and status</label>
        <locationX>314</locationX>
        <locationY>1286</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>Owner_previous_grp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>Owner_previous_grp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
