force-app/main/default/flows/COMPLAINT_AAA_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_next_step</name>
        <label>Check next step</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Close_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Reassigned</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_evaluation_screen.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reassigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint_handling_screen_user.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reassigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Refresh_Record</targetReference>
            </connector>
            <label>Reassigned</label>
        </rules>
        <rules>
            <name>Escalated</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_evaluation_screen.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint_handling_screen_user.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
        <rules>
            <name>Assign_to_owner</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_evaluation_screen.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>assigntoowner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint_handling_screen_user.Outputs.Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>assigntoowner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_account_owner</targetReference>
            </connector>
            <label>Assign to owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Evaluation_screen_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Queue</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Refresh_complaint_record.Outputs.Output_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluation_screen</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>COMPLAINT AAA Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMPLAINT AAA Orchestration</label>
    <orchestratedStages>
        <name>Assign_to_account_owner</name>
        <label>Assign to account owner</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_complaint_to_account_owner</name>
            <actionName>COMPLAINT_3_2_Assign_to_account_owner</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Assign complaint to account owner</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Close_Complaint</name>
        <label>Close Complaint</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Post_Stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Close_the_complaint</name>
            <actionName>COMPLAINT_5_Close_Complaint</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Close the complaint</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Escalation</name>
        <label>Escalation</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Escalate_to_Complaint_Board</name>
            <actionName>COMPLAINT_3_Escalate_and_email_to_Complaint_Board</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Escalate to Complaint Board</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluation_screen</name>
        <label>Evaluation screen</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Check_next_step</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complaint_evaluation_screen</name>
            <actionName>COMPLAINT_2_Complaint_handling_screen</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Refresh_complaint_record.Outputs.Output_case.Owner:Group.Name</elementReference>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complaint evaluation screen</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluation_screen_user</name>
        <label>Evaluation screen user</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Check_next_step</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complaint_handling_screen_user</name>
            <actionName>COMPLAINT_2_Complaint_handling_screen</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Refresh_complaint_record.Outputs.Output_case.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complaint handling screen user</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Initialize_Fields</name>
        <label>Initialize Fields</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Refresh_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Send_e_mail_to_queue</name>
            <actionName>COMPLAINT_1_Initialize_fields</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Send e-mail to queue</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_milestones</name>
            <actionName>CASE_Update_Milestones</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Send_e_mail_to_queue.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>case_id</name>
            </inputParameters>
            <label>Update milestones</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Post_Stage</name>
        <label>Post Stage</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_active_orchestration_to_false</name>
            <actionName>CASE_Update_active_orchestration</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActiveOrchestration</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Set active orchestration to false</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Pre_Stage</name>
        <label>Pre Stage</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Initialize_Fields</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_active_orchestration_to_true</name>
            <actionName>CASE_Update_active_orchestration</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActiveOrchestration</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CaseID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Set active orchestration to true</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Refresh_Record</name>
        <label>Refresh Record</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Check_Owner</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Refresh_complaint_record</name>
            <actionName>COMPLAINT_1_5_Get_actual_complaint_record</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Input_case</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Refresh complaint record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pre_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004IjnQAE</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
