force-app/main/default/flows/COMPLAINT_2_Complaint_handling_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_choice</name>
        <label>Assign choice</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Choice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_step</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Assign_the_complaint_to_the_account_owner</name>
        <choiceText>Assign the complaint to the account owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>assigntoowner</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_complaint_can_be_closed</name>
        <choiceText>The complaint can be closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_complaint_is_assigned_to_another_user_or_queue</name>
        <choiceText>The complaint is assigned to another user or queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reassigned</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_complaint_must_be_escalated_to_the_Complaint_Board</name>
        <choiceText>The complaint must be escalated to the Complaint Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>escalated</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>COMPLAINT 2. Complaint handling screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMPLAINT 2. Complaint handling screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Complaint_Handling_Screen</name>
        <label>Complaint Handling Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_choice</targetReference>
        </connector>
        <fields>
            <name>HandlingInstructions</name>
            <fieldText>&lt;p&gt;Check the complaint and apply the following guidelines:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Start by clicking the &apos;Accept Complaint&apos; button to assign the Complaint to your user&lt;/li&gt;&lt;li&gt;use the POST functionality to comment and describe your actions&lt;/li&gt;&lt;li&gt;determine whether you can handle the complaint&lt;/li&gt;&lt;li&gt;if not, assign the compliant to another user or queue or choose ESCALATE as next step, use POST to explain why you assign or escalate&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_step</name>
            <choiceReferences>Assign_the_complaint_to_the_account_owner</choiceReferences>
            <choiceReferences>The_complaint_is_assigned_to_another_user_or_queue</choiceReferences>
            <choiceReferences>The_complaint_must_be_escalated_to_the_Complaint_Board</choiceReferences>
            <choiceReferences>The_complaint_can_be_closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next step</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RefreshMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Refresh the screen to see all field updates after having sent the next step choice!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complaint_Handling_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
