force-app/main/default/flows/COMPLAINT_1_Initialize_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_Complain_Handling_queue</name>
        <label>Send email to Complain Handling queue</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Complaint_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>email_assignees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new complaint for {!Get_complaint_record.Account.Name} has been registered by {!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>COMPLAINT 1. Initialize fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMPLAINT 1. Send e-mail to initial queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_complaint_record</name>
        <label>Get complaint record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_emailids_of_the_assigned_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_complaint_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_the_emailids_of_the_assigned_queue</name>
        <label>Get the emailids of the assigned queue</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Send_email_to_Complain_Handling_queue</targetReference>
        </connector>
        <flowName>GENERIC_emailids_of_a_queue</flowName>
        <inputAssignments>
            <name>QueueId</name>
            <value>
                <stringValue>00G9N000000MdcN</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>email_assignees</assignToReference>
            <name>Queue_emailids</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Complaint_email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;&lt;p&gt;A Complaint with subject&amp;nbsp;&lt;strong&gt;{!Get_complaint_record.Subject}&lt;/strong&gt;&amp;nbsp;has been assigned to the queue in which you are a member.&lt;/p&gt;&lt;p&gt;If you will handle this complaint, start with the &apos;&lt;strong&gt;Assign to me&lt;/strong&gt;&apos; button.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_complaint_record.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the Complaint.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;The Service Management team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email_assignees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
