force-app/main/default/flows/ContactValidatieEnKoppelingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>CheckEmailProvided</name>
        <label>CheckEmailProvided</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>EmailProvidedNo</defaultConnectorLabel>
        <rules>
            <name>EmailProvidedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAlgemeenEmail</targetReference>
            </connector>
            <label>EmailProvidedYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAlgemeenEmail</name>
        <label>IsAlgemeenEmail</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAlgemeenEmailYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contains_Apotheek_Before_At</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsAlgemeenEmailYes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Contains_Apotheek_Before_At</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LEFT({!email}, FIND(&quot;@&quot;, {!email}) - 1), &quot;apotheek&quot;)</expression>
    </formulas>
    <formulas>
        <name>TrimmedfirstName</name>
        <dataType>String</dataType>
        <expression>TRIM({!firstName})</expression>
    </formulas>
    <formulas>
        <name>TrimmedLastName</name>
        <dataType>String</dataType>
        <expression>TRIM({!lastName})</expression>
    </formulas>
    <interviewLabel>ContactValidatieEnKoppelingFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactValidatieEnKoppelingFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContactBasedOnlastNameAndfirstName</name>
        <label>GetContactBasedOnlastNameAndfirstName</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckEmailProvided</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrimmedfirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>TrimmedLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrimmedfirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrimmedLastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactBasedOnlastNameAndfirstName</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
