force-app/main/default/flows/EmailNotificationAfterApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>emailnotificatie</name>
        <label>emailnotificatie</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailNotificatietemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailadressesNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailNotificationSubjectLine</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignEmailadressesToEmailadressesNotification</name>
        <label>AssignEmailadressesToEmailadressesNotification</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>EmailadressesNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Approver1Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailadressesNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Approver2Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailadressesNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailnotificatie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails</name>
        <label>AssignEmails</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>OwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwnerRecord.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver1Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetApprover1.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver2Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetApprover2.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignEmailadressesToEmailadressesNotification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>EmailNotificationAfterApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailNotificationAfterApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetApprover1</name>
        <label>GetApprover1</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceRecord.Approver_1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApprover2</name>
        <label>GetApprover2</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceRecord.Approver_2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoiceRecord</name>
        <label>GetInvoiceRecord</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwnerRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwnerRecord</name>
        <label>GetOwnerRecord</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceRecord.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInvoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved by Approver 2</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailNotificatietemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Invoice with reference&lt;strong&gt; {!GetInvoiceRecord.Invoice_Label__c} &lt;/strong&gt;has been approved and is sent for payment to our accounting department. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;History of the approvement proces&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start Approval Proces&lt;/strong&gt; : {!GetInvoiceRecord.Date_Submitted__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Approval Step 1&lt;/u&gt; &lt;/p&gt;&lt;p&gt;Approved by {&lt;strong&gt;!GetApprover1.Name} &lt;/strong&gt;on &lt;strong&gt;{!GetInvoiceRecord.Date_Approved_Approval_1__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Approval Step 2&lt;/u&gt;&lt;/p&gt;&lt;p&gt;Approved by {&lt;strong&gt;!GetApprover2.Name} &lt;/strong&gt;on &lt;strong&gt;{!GetInvoiceRecord.Date_Approved_Approval_2__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailNotificationSubjectLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Invoice {!GetInvoiceRecord.Invoice_Label__c} is approved and sent to the accounting department to be paid !</text>
    </textTemplates>
    <variables>
        <name>Approver1Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver2Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailadressesNotification</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
