force-app/main/default/flows/FISAutomate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_SendEmailFCToApotheekTeam</name>
        <label>Copy 1 of SendEmailFCToApotheekTeam</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NotifyAccountOwnerViaChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emailadres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectLineFisActivationEmailtoOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyFISActivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyAccountOwnerViaChatter</name>
        <label>NotifyAccountOwnerViaChatter</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyAccountOwnerFISActivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetAccountData.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmailFCToApotheekTeam</name>
        <label>SendEmailFCToApotheekTeam</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NotifyAccountOwnerViaChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emailadres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectLineFISActivationToApotheekteam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyFISActivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFisFOLAccount.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailadresFC</name>
        <label>EmailadresFC</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Emailadres</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactDataApotheekteam.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailFCToApotheekTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailadresFCOwner</name>
        <label>EmailadresFCOwner</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Emailadres</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactDataOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_SendEmailFCToApotheekTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OwnerContactIDAssignement</name>
        <label>OwnerContactIDAssignement</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ContactIDOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountData</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsFISFOLEmailprovided</name>
        <label>IsFISFOLEmailprovided?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>UpdateServiceRequestParameterEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_e_mailprovided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmailParameterCaseID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateServiceRequestParameter</targetReference>
            </connector>
            <label>No e-mailprovided</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerHasEmail</name>
        <label>OwnerHasEmail</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>EmailadresFCOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerHasNoEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactDataOwner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactDataApotheekteam</targetReference>
            </connector>
            <label>OwnerHasNoEmail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DatumVandaag2</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FISAutomate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FISAutomate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateServiceRequestParameter</name>
        <label>CreateServiceRequestParameter</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>OwnerHasEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>Master_Parameter__c</field>
            <value>
                <stringValue>a0T9N000000MsEaUAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>If already known, enter the FOL accounts in the text input field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>GetCaseIDFISMasterCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text_input__c</field>
            <value>
                <elementReference>GetFisFOLAccount.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountData</name>
        <label>GetAccountData</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactDataOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseIDFarmadInsightsActivatie</name>
        <label>GetCasesIDFarmadInsightsSubCases</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseIDFISMasterCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseIDFISMasterCase</name>
        <label>GetCaseIDFISMasterCase</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailParameterCaseID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZdQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactDataApotheekteam</name>
        <label>GetContactDataApotheekteam</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailadresFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apotheekteam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactDataOwner</name>
        <label>GetContactDataOwner</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseIDFarmadInsightsActivatie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOwner.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailParameterCaseID</name>
        <label>GetEmailParameterCaseID</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsFISFOLEmailprovided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Parameter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0T9N000000MsEaUAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseIDFISMasterCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFisFOLAccount</name>
        <label>GetFisFOLAccount</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerContactIDAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateServiceRequestParameterEmail</name>
        <label>UpdateServiceRequestParameterEmail</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>OwnerHasEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEmailParameterCaseID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Text_input__c</field>
            <value>
                <elementReference>GetFisFOLAccount.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Request_Parameter__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFisFOLAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyActivationFarmaContentToApotheekteam</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Beste {!GetContactDataOwner.FirstName},&lt;/p&gt;&lt;p&gt;Ik ben verheugd je te informeren dat FarmaContent nu geactiveerd is voor jouw apotheek.&lt;/p&gt;&lt;p&gt;Wanneer je als apotheekmedewerker inlogt op Farmad Online, ontdek je op het apothekersplatform twee nieuwe tegels genaamd &quot;&lt;strong&gt;Campagnes&lt;/strong&gt;&quot; &amp;amp; &quot;&lt;strong&gt;FarmaContent&lt;/strong&gt;&quot;.&lt;/p&gt;&lt;p&gt;Om je snel op weg te helpen met FarmaContent, kan je de video-instructies bekijken via deze&amp;nbsp;&lt;a href=&quot;https://farmacontent.be/gebruik/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Heb je nog vragen? Aarzel dan niet om deze in eerste instantie te stellen via het e-mailadres&amp;nbsp;info@farmacontent.be. Je komt dan direct in contact met de FarmaContent specialisten voor een snelle oplossing. Natuurlijk kun je ook altijd een incident melden via XTRA.&lt;/p&gt;&lt;p&gt;Veel plezier en succes met FarmaContent!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Met vriendelijke groeten,&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;{!$User.Title}&lt;/p&gt;&lt;p&gt;Tel : {!$User.MobilePhone}&lt;/p&gt;&lt;p&gt;E-mail : {!$User.Email}&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://farmad.file.force.com/sfc/servlet.shepherd/version/download/068aV000000bVw9?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Schermafbeelding 2023-10-23 093751.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyFISActivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Beste&amp;nbsp;{!GetContactDataOwner.FirstName},&lt;/p&gt;&lt;p&gt;We hebben zonet Farmad Insights (de opvolger van Curavision) geactiveerd voor de volgende Farmad Online account; &lt;strong&gt;{!GetFisFOLAccount.Email} (*)&lt;/strong&gt;&lt;br&gt;Om toegang te krijgen tot Farmad Insights kan je rechtstreeks surfen naar de volgende site : &lt;a href=&quot;curavision.farmad.online&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;curavision.farmad.online&lt;/a&gt;  Log vervolgens in met de bovenstaande account.&lt;/p&gt;&lt;p&gt;Indien je met de bovenstaande account ook kan inloggen op Farmad Online, zal je op het apothekersplatform een nieuwe tegel genaamd &quot;Farmad Insights&quot; ontdekken. Door hierop te klikken, kom je terecht in de Business Intelligence Omgeving.&lt;/p&gt;&lt;p&gt;Omdat de synchronisatie tussen de verschillende systemen &apos;s nachts gebeurd, zal je &lt;strong&gt;vanaf morgen &lt;/strong&gt;over de juiste gegevens beschikken in Farmad Insights&lt;/p&gt;&lt;p&gt;Ik organiseer wekelijks op&amp;nbsp;&lt;strong&gt;vrijdag&lt;/strong&gt; een algemene online opleiding over Farmad Insights, waarin ik de werking ervan toelicht en de verschillende visuele elementen bespreek. Via deze &lt;a href=&quot;https://forms.office.com/e/6W7ZbXxPDN&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link &lt;/a&gt; kan je je hiervoor inschrijven.&amp;nbsp;Elke sessie vindt plaats over de middag, van &lt;strong&gt;12:30 tot 13:30 uur.  &lt;/strong&gt;  Na de opleiding is er ook de mogelijkheid om individueel een half uur met mij in te plannen om specifieke vragen over Farmad Insights te bespreken. Dit kan je via deze &lt;a href=&quot;https://outlook.office365.com/owa/calendar/UitlegFarmadInsights@farmad.be/bookings/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&amp;nbsp;&lt;/a&gt;aanvragen.&lt;/p&gt;&lt;p&gt;Mocht je nu reeds vragen hebben, aarzel niet met te contacteren.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Met vriendelijke groeten,&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;br&gt;{!$User.Title}&lt;br&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Phone}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;(*) iedereen die met deze Farmad Online account kan inloggen krijgt toegang tot de gedetailleerde gegevens van je apotheek.  Is het een algemene account die iedereen binnen de apotheek gebruikt en wil je de toegang beperken, kunnen we op eenvoudig verzoek de rechten aanpassen.  Maak daarvoor eerst een nieuwe Farmad Online account aan met een ander e-mailadres.  Bezorg daarna dit emailadres aan ons zodat we de aanpassing kunnen doen. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyAccountOwnerActivationFarmaContent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dag {!GetAccountData.Owner.FirstName}
FarmaContent is geactiveerd voor {!GetAccountData.Name}({!GetAccountData.APB_SCN_Number__c}). {!GetContactDataOwner.Name} heeft hierover een mail ontvangen en de nodige informatie om op te starten.</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyAccountOwnerFISActivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dag {!GetAccountData.Owner.FirstName}
Farmad Insights is geactiveerd voor {!GetAccountData.Name}({!GetAccountData.APB_SCN_Number__c}). {!GetContactDataOwner.Name} heeft hierover een mail ontvangen en de nodige informatie om op te starten.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineActivationEmailToApotheekteam</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : tav {!GetContactDataOwner.Name} - FarmaContent is geactiveerd !</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineActivationEmailtoOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : FarmaContent is geactiveerd!</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineFisActivationEmailtoOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : Farmad Insights is geactiveerd!</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineFISActivationToApotheekteam</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : tav {!GetContactDataOwner.Name} - FarmadInsights is geactiveerd !</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDFISServiceRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIDOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>{!$Record.CreatedDate}</description>
        <name>DatumVandaag</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailadres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
