force-app/main/default/flows/FISUpdateFISFOLAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_SendEmailFCToApotheekTeam</name>
        <label>Copy 1 of SendEmailFCToApotheekTeam</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NotifyAccountOwnerViaChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emailadres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectLineActivationEmailtoOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyActivationFarmaContentToApotheekteam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyAccountOwnerViaChatter</name>
        <label>NotifyAccountOwnerViaChatter</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CreateAccountProductForFarmaContent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyAccountOwnerActivationFarmaContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetAccountData.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmailFCToApotheekTeam</name>
        <label>SendEmailFCToApotheekTeam</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NotifyAccountOwnerViaChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emailadres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectLineActivationEmailToApotheekteam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyActivationFarmaContentToApotheekteam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>EmailadresFC</name>
        <label>EmailadresFC</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Emailadres</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactDataApotheekteam.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailFCToApotheekTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailadresFCOwner</name>
        <label>EmailadresFCOwner</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Emailadres</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactDataOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_SendEmailFCToApotheekTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OwnerContactIDAssignement</name>
        <label>OwnerContactIDAssignement</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContactIDOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountData</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsFISFOLEmailprovided</name>
        <label>IsFISFOLEmailprovided?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>OwnerHasEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_e_mailprovided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmailParameterCaseID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OwnerHasEmail</targetReference>
            </connector>
            <label>No e-mailprovided</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerHasEmail</name>
        <label>OwnerHasEmail</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>EmailadresFCOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerHasNoEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactDataOwner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactDataApotheekteam</targetReference>
            </connector>
            <label>OwnerHasNoEmail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DatumVandaag2</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FISUpdateFISFOLAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FARMACONTENT UpdateFISFOLAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccountProductForFarmaContent</name>
        <label>CreateAccountProductForFarmaContent</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implemented_Date__c</field>
            <value>
                <elementReference>DatumVandaag2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>a049N00000230PsQAI</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountData</name>
        <label>GetAccountData</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactDataOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseIDFarmadInsightsActivatie</name>
        <label>GetCasesIDFarmadInsightsSubCases</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseIDFISMasterCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseIDFISMasterCase</name>
        <label>GetCaseIDFISMasterCase</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailParameterCaseID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZdQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactData</name>
        <label>GetContactData</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactDataApotheekteam</name>
        <label>GetContactDataApotheekteam</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailadresFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apotheekteam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactDataOwner</name>
        <label>GetContactDataOwner</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseIDFarmadInsightsActivatie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOwner.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailParameterCaseID</name>
        <label>GetEmailParameterCaseID</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsFISFOLEmailprovided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Parameter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseIDFISMasterCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>If already known, enter the FOL accounts in the text input field</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerContactIDAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyActivationFarmaContentToApotheekteam</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Beste {!GetContactDataOwner.FirstName},&lt;/p&gt;&lt;p&gt;Ik ben verheugd je te informeren dat FarmaContent nu geactiveerd is voor jouw apotheek.&lt;/p&gt;&lt;p&gt;Wanneer je als apotheekmedewerker inlogt op Farmad Online, ontdek je op het apothekersplatform twee nieuwe tegels genaamd &quot;&lt;strong&gt;Campagnes&lt;/strong&gt;&quot; &amp;amp; &quot;&lt;strong&gt;FarmaContent&lt;/strong&gt;&quot;.&lt;/p&gt;&lt;p&gt;Om je snel op weg te helpen met FarmaContent, kan je de video-instructies bekijken via deze&amp;nbsp;&lt;a href=&quot;https://farmacontent.be/gebruik/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Heb je nog vragen? Aarzel dan niet om deze in eerste instantie te stellen via het e-mailadres&amp;nbsp;info@farmacontent.be. Je komt dan direct in contact met de FarmaContent specialisten voor een snelle oplossing. Natuurlijk kun je ook altijd een incident melden via XTRA.&lt;/p&gt;&lt;p&gt;Veel plezier en succes met FarmaContent!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Met vriendelijke groeten,&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;{!$User.Title}&lt;/p&gt;&lt;p&gt;Tel : {!$User.MobilePhone}&lt;/p&gt;&lt;p&gt;E-mail : {!$User.Email}&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://farmad.file.force.com/sfc/servlet.shepherd/version/download/068aV000000bVw9?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Schermafbeelding 2023-10-23 093751.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyAccountOwnerActivationFarmaContent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dag {!GetAccountData.Owner.FirstName}
FarmaContent is geactiveerd voor {!GetAccountData.Name}({!GetAccountData.APB_SCN_Number__c}). {!GetContactDataOwner.Name} heeft hierover een mail ontvangen en de nodige informatie om op te starten.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineActivationEmailToApotheekteam</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : tav {!GetContactDataOwner.Name} - FarmaContent is geactiveerd !</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLineActivationEmailtoOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetAccountData.Name} - Farmad : FarmaContent is geactiveerd!</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDFISServiceRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIDOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>{!$Record.CreatedDate}</description>
        <name>DatumVandaag</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailadres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
