force-app/main/default/flows/Flow2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendAttachmentToBC</name>
        <label>SendAttachmentToBC</label>
        <locationX>226</locationX>
        <locationY>878</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>GetDocumentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>BodyMailNaarBC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>BodyMailNaarBC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Farmad Invoicing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>inkoopfacturen@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Nieuwe Inkoopfactuur</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>StartApprovalRequest</name>
        <label>StartApprovalRequest</label>
        <locationX>226</locationX>
        <locationY>3182</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Endscreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Invoice_Approvel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>NewInvoice_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignDelegatedApprover</name>
        <label>AssignDelegatedApprover</label>
        <locationX>94</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>GetApprover1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DelegatedApprover1ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApprover1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDelegetadeApprover1Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsApprover2outofOffice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDelegatedApprover2</name>
        <label>AssignDelegatedApprover2</label>
        <locationX>94</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>GetApprover2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DelegatedApprover2ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApprover2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_GetDelegetadeApprover2Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateApproversInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetApprover2toCEO</name>
        <label>SetApprover2toCEO</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>GetApprover2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEOUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApprover2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEOFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDelegetadeApprover1Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checks if the first approver is equal to the ceo, if this is the case the second approver will not be overwritten with the ceo , but wil stay the original second approver</description>
        <name>CEOIsFirstApprover</name>
        <label>CEOIsFirstApprover</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>SetApprover2toCEO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Ceo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApprover1.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CEOUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDelegetadeApprover1Name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>468</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>MandatoryFileUpload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileIDsLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDocumentID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Invoice Amount bigger than 1000 €</description>
        <name>Copy_1_of_BigInvoice</name>
        <label>Copy 1 of BigInvoice</label>
        <locationX>226</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>GetDelegetadeApprover1Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ChangeApproval2ToCeo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRoleIDCeo</targetReference>
            </connector>
            <label>Copy 1 of ChangeApproval2ToCeo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsApprover1Outoffice</name>
        <label>IsApprover1Outoffice</label>
        <locationX>226</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>IsApprover2outofOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutofOfficeApprover10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutofOfficeApprover1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDelegatedApprover</targetReference>
            </connector>
            <label>OutofOfficeApprover1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsApprover2outofOffice</name>
        <label>IsApprover2outofOffice</label>
        <locationX>226</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>UpdateApproversInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver2isoutofoffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutofOfficeApprover2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDelegatedApprover2</targetReference>
            </connector>
            <label>Approver2isoutofoffice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_File_upload</name>
        <label>Skip File upload</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UploadInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmNoFileUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecord</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>this flow manages the following

1. creation of an invoice with mandatory attachement 
2. automatically sends the invoice to Business Central
3. Determines the correct approvers based upon the amount of the invoice
- &lt; 1000 € : approver 1 and approver 2 from account record
- &gt; 1000 €
   - first approver &lt;&gt; CEO =&gt; approver 2 becomes the CEO
   - first approver = CEO =&gt; approver 2 is not changed
- checks if first and/or secord approver are &quot;out of office&quot;, if so approver is changed to delegeted approver
4. Starts the approval proces in Salesforce</description>
    <environments>Default</environments>
    <formulas>
        <name>FileIDsLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!InvoiceUpload.contentDocIds})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InvoiceDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>InvoiceDueDateStandard</name>
        <dataType>Date</dataType>
        <expression>{!InvoiceDateToday}+30</expression>
    </formulas>
    <formulas>
        <name>OutofOfficeApprover1</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!GetApprover1.OutOfOfficeMessage})</expression>
    </formulas>
    <formulas>
        <name>OutofOfficeApprover2</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!GetApprover2.OutOfOfficeMessage})</expression>
    </formulas>
    <interviewLabel>Flow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>InvoiceApprovelProces</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewInvoice</name>
        <label>CreateNewInvoice</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>NewInvoice_ID</assignRecordIdToReference>
        <connector>
            <targetReference>UploadInvoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>Invoice_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>Invoice_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Reference_Number__c</field>
            <value>
                <elementReference>Invoice_Reference</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecord</name>
        <label>DeleteRecord</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInvoice_ID</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_GetDelegetadeApprover2Name</name>
        <label>GetDelegetadeApprover2Name</label>
        <locationX>226</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsApprover1Outoffice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DelegatedApprover2ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetDocumentID</name>
        <label>Copy 1 of GetDocumentID(1)</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendAttachmentToBC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceUpload.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApprover1</name>
        <label>GetApprover1</label>
        <locationX>226</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Approver_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApprover2</name>
        <label>GetApprover2</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_BigInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Approver_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDelegetadeApprover1Name</name>
        <label>GetDelegetadeApprover1Name</label>
        <locationX>226</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetDelegetadeApprover2Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DelegatedApprover1ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentID</name>
        <label>GetDocumentID</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetDocumentID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceUpload.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRoleIDCeo</name>
        <label>GetRoleIDCeo</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserIDfromCEO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserIDfromCEO</name>
        <label>GetUserIDfromCEO</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CEOIsFirstApprover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRoleIDCeo.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CEOUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CEOFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproversInvoice</name>
        <label>UpdateApproversInvoice</label>
        <locationX>226</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>StartApprovalRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInvoice_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Sent to Approver 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_1__c</field>
            <value>
                <elementReference>GetApprover1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_2__c</field>
            <value>
                <elementReference>GetApprover2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceID__c</field>
            <value>
                <elementReference>Copy_1_of_GetDocumentID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>Endscreen</name>
        <label>Endscreen</label>
        <locationX>226</locationX>
        <locationY>3302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenText</name>
            <fieldText>&lt;p&gt;A new Invoice for &lt;strong&gt;{!Get_Account.Name}&lt;/strong&gt; is created.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This invoice has been sent to Business Central&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Approvel flow is started with the following approvers&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Approver 1 : {!GetApprover1.Name}&lt;/p&gt;&lt;p&gt;Approver 2 : {!GetApprover2.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gegevens om invoice aan te maken wordt opgevraagd</description>
        <name>Invoice_Creation_With_File</name>
        <label>New Invoice</label>
        <locationX>468</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>CreateNewInvoice</targetReference>
        </connector>
        <fields>
            <name>HeaderScreen1Invoice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Please fill in the requested data of the invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountID</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Invoice__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountID.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Invoice_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Invoice_Reference</name>
            <dataType>String</dataType>
            <fieldText>Invoice Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>InvoiceDateToday</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>InvoiceDueDateStandard</elementReference>
            </defaultValue>
            <fieldText>Invoice Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MandatoryFileUpload</name>
        <label>MandatoryFileUpload</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_File_upload</targetReference>
        </connector>
        <fields>
            <name>FileNotUploaded</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Mandatory File Upload&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileNotUploadedText</name>
            <fieldText>&lt;p&gt;You have not uploaded a file. Uploading file is mandatory.  If you don&apos;t want to upload a file, the Invoice record that you just created won&apos;t be saved. Please check the box below if you don&apos;t want to upload the file.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmNoFileUpload</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm No File Upload</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadInvoice</name>
        <label>UploadInvoice</label>
        <locationX>468</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <fields>
            <name>InvoiceUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the Invoice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewInvoice_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_Creation_With_File</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyMailNaarBC</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Beste,
In bijlage een nieuwe inkoopfactuur.
Deze is opgenomen in de salesflow van Farmad.</text>
    </textTemplates>
    <variables>
        <name>CEOFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CEOUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>DelegatedApprover1ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetApprover1.DelegatedApproverId</elementReference>
        </value>
    </variables>
    <variables>
        <name>DelegatedApprover2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetApprover2.DelegatedApproverId</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewInvoice_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
