force-app/main/default/flows/FLUID_trigger_FTE_calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_assigned_FDTE</name>
        <label>add assigned FDTE</label>
        <locationX>440</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>FTE_ass</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_assignment_record.FTE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_assignment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_FTE</name>
        <label>add FTE</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FTE_empl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_active_employment_record.FTE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_active_employment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initialize_FTE_variables</name>
        <label>initialize FTE variables</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FTE_empl</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FTE_ass</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_employment_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FLUID trigger FTE calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLUID trigger FTE calculations</label>
    <loops>
        <name>for_each_active_employment_record</name>
        <label>for each active employment record</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <collectionReference>get_employment_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_FTE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_assignment_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_assignment_record</name>
        <label>for each assignment record</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <collectionReference>get_assignment_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_assigned_FDTE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_staff_member_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_staff_member</name>
        <label>for each staff member</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_staff_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>initialize_FTE_variables</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_assignment_records</name>
        <label>get assignment records</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_assignment_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Staff_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_staff_member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assignment_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff_Role_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_employment_records</name>
        <label>get employment records</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_active_employment_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Staff_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_staff_member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff_Employment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_staff_members</name>
        <label>Get staff members</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_staff_member</targetReference>
        </connector>
        <filterLogic>2 OR 3 OR 4 OR 1</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_staff_member_record</name>
        <label>Update staff member record</label>
        <locationX>352</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>for_each_staff_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_staff_member.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FTE_Assigned__c</field>
            <value>
                <elementReference>FTE_ass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTE_Employed__c</field>
            <value>
                <elementReference>FTE_empl</elementReference>
            </value>
        </inputAssignments>
        <object>Staff_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_staff_members</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FTE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FTE_ass</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FTE_empl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
