force-app/main/default/flows/FLUID_Assignment_record_deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_FTE_to_FTEsum</name>
        <label>Add FTE to FTEsum</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>FTEsum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_active_assignment_record.FTE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_active_assignment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FTE_to_FTEsum2</name>
        <label>Add FTE to FTEsum</label>
        <locationX>264</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>FTEsum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_active_assignment_for_role.FTE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_active_assignment_for_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_FTEsum_to_0</name>
        <label>Copy 1 of Set FTEsum to 0</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>FTEsum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_active_assignment_for_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FTEsum_to_0</name>
        <label>Set FTEsum to 0</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>FTEsum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_active_assignment_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FLUID Assignment record deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLUID Assignment record deleted</label>
    <loops>
        <name>for_each_active_assignment_for_role</name>
        <label>for each active assignment for role</label>
        <locationX>176</locationX>
        <locationY>1235</locationY>
        <collectionReference>Copy_1_of_Get_all_active_assignment_records_from_staff_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_FTE_to_FTEsum2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_role_record_with_sum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_active_assignment_record</name>
        <label>For each active assignment record</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_all_active_assignment_records_from_staff_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_FTE_to_FTEsum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_staff_record_with_sum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_all_active_assignment_records_from_staff_member</name>
        <label>Get all active assignment records for role</label>
        <locationX>176</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_FTEsum_to_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Circle_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Circle_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assignment_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff_Role_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_active_assignment_records_from_staff_member</name>
        <label>Get all active assignment records from staff member</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_FTEsum_to_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Staff_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Staff_Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assignment_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff_Role_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_FTE_to_0</name>
        <label>Set FTE to 0</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Get_all_active_assignment_records_from_staff_member</targetReference>
        </connector>
        <inputAssignments>
            <field>FTE__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_role_record_with_sum</name>
        <label>update role record with sum</label>
        <locationX>176</locationX>
        <locationY>1535</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Circle_Role__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FTE_Assigned__c</field>
            <value>
                <elementReference>FTEsum</elementReference>
            </value>
        </inputAssignments>
        <object>Action_Circle_Role__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_staff_record_with_sum</name>
        <label>Update staff record with sum</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_all_active_assignment_records_from_staff_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Staff_Member__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FTE_Assigned__c</field>
            <value>
                <elementReference>FTEsum</elementReference>
            </value>
        </inputAssignments>
        <object>Staff_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_FTE_to_0</targetReference>
        </connector>
        <object>Staff_Role_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FTEsum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
