force-app/main/default/flows/GDATA_compare_installed_with_contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_nr_of_licenses_to_counter</name>
        <label>add nr of licenses to counter</label>
        <locationX>554</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>contract_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_contract_line.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_contract_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_monitoring_recordslist</name>
        <label>Add to monitoring recordslist</label>
        <locationX>446</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>Recordslist_existing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existing_account_monitoringrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_existing_monitoring_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_new_monitoring_recordslist</name>
        <label>Add to new monitoring recordslist</label>
        <locationX>574</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>Recordslist_new</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_account_monitoring_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>466</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>asset_counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_local_assets_for_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_contractlines_for_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_existing_values_to_recordlist</name>
        <label>Assign existing values to recordlist</label>
        <locationX>446</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>existing_account_monitoringrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_existing_monitoring_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_recordslist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_recordslist</name>
        <label>Assign to recordslist</label>
        <locationX>446</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>existing_account_monitoringrecord.GDATA_contractlines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contract_counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existing_account_monitoringrecord.GDATA_monitored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset_counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_monitoring_recordslist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_recordslist_new</name>
        <label>Assign to recordslist new</label>
        <locationX>574</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>new_account_monitoring_record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_customer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_account_monitoring_record.GDATA_contractlines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contract_counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_account_monitoring_record.GDATA_monitored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset_counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_account_monitoring_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Get_matching_account_monitoring_record_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_monitoring_recordslist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_accounts</name>
        <label>Count accounts</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>nr_accounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_customer_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gdata_local_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_nr_new</name>
        <label>Count nr new</label>
        <locationX>182</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>nr_new</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recordslist_new</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_number_of_monitoring_records</name>
        <label>Count number of monitoring records</label>
        <locationX>466</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>nr_mon_records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_matching_account_monitoring_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monitoring_records_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_counters</name>
        <label>Reset counters</label>
        <locationX>466</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>asset_counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract_counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nr_mon_records</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_local_assets_for_account</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_contractlines_for_account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter contractlines for account</label>
        <locationX>466</locationX>
        <locationY>1224</locationY>
        <assignNextValueToReference>currentItem_Filter_contractlines_for_account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Gdata_contract_lines_for_account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_contractlines_for_account.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_each_customer.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>for_each_contract_line</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_local_assets_for_account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter local assets for account</label>
        <locationX>466</locationX>
        <locationY>1008</locationY>
        <assignNextValueToReference>currentItem_Filter_local_assets_for_account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Gdata_local_assets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_local_assets_for_account.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_each_customer.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_matching_account_monitoring_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get matching account monitoring record</label>
        <locationX>466</locationX>
        <locationY>1632</locationY>
        <assignNextValueToReference>currentItem_Get_matching_account_monitoring_record_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_account_monitoring_records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_matching_account_monitoring_record_0.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_each_customer.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_number_of_monitoring_records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_new</name>
        <label>Check if new</label>
        <locationX>182</locationX>
        <locationY>2748</locationY>
        <defaultConnector>
            <targetReference>Update_existing_monitoring_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nr_new</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_monitoring_records</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_records_exist</name>
        <label>Monitoring records exist</label>
        <locationX>466</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>Assign_to_recordslist_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nr_mon_records</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_existing_monitoring_record</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GDATA compare installed with contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDATA compare installed with contract</label>
    <loops>
        <name>for_each_contract_line</name>
        <label>for each filtered contract line</label>
        <locationX>466</locationX>
        <locationY>1332</locationY>
        <collectionReference>Filter_contractlines_for_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_nr_of_licenses_to_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_matching_account_monitoring_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_customer</name>
        <label>For each customer</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_customer_accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_counters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_nr_new</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_existing_monitoring_record</name>
        <label>for each existing monitoring record</label>
        <locationX>358</locationX>
        <locationY>1956</locationY>
        <collectionReference>Get_matching_account_monitoring_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_existing_values_to_recordlist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_monitoring_records</name>
        <label>Create new monitoring records</label>
        <locationX>50</locationX>
        <locationY>2856</locationY>
        <connector>
            <targetReference>Update_existing_monitoring_records</targetReference>
        </connector>
        <inputReference>Recordslist_new</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_account_monitoring_records</name>
        <label>Get account monitoring records</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_customer</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Monitoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_customer_accounts</name>
        <label>Get customer accounts</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>APB_SCN_Number__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gdata_contract_lines_for_account</name>
        <label>Get Gdata contract lines for account</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account_monitoring_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalBC__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GDATA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BC_Contractlines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gdata_local_assets</name>
        <label>Get Gdata local assets</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gdata_contract_lines_for_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JdBQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GDATA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_monitoring_records</name>
        <label>Update existing monitoring records</label>
        <locationX>182</locationX>
        <locationY>3048</locationY>
        <inputReference>Recordslist_existing</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_customer_accounts</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-07</startDate>
            <startTime>19:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>asset_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contract_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_contractlines_for_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BC_Contractlines__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_local_assets_for_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_matching_account_monitoring_record_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Monitoring__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>existing_account_monitoringrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Monitoring__c</objectType>
    </variables>
    <variables>
        <name>new_account_monitoring_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Monitoring__c</objectType>
    </variables>
    <variables>
        <name>nr_accounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nr_mon_records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nr_new</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordid_monrec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recordslist_existing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Monitoring__c</objectType>
    </variables>
    <variables>
        <name>Recordslist_new</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Monitoring__c</objectType>
    </variables>
</Flow>
