force-app/main/default/flows/GENERIC_Update_user_record_with_group_memberships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_memberships_to_variable</name>
        <label>Add memberships to variable</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GroupMembership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_group_memberships.GroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_group_memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_group_membership_variable</name>
        <label>Initialize group membership variable</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GroupMembership</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_users.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_group_memberships</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GENERIC  Update user record with group memberships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GENERIC  Update user record with group memberships</label>
    <loops>
        <name>Loop_through_all_users</name>
        <label>Loop through all users</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_user_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_group_membership_variable</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_group_memberships</name>
        <label>Loop through group memberships</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_group_memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_memberships_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_user_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_group_memberships</name>
        <label>Get group memberships</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_group_memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_users.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>GroupId</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_records</name>
        <label>Get user records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t000001pzx6AAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t000002JWVQAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t000002RSPNAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0059N000000KA7QQAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005aV000001AClhQAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_record</name>
        <label>Update user record</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Loop_through_all_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_users.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_memberships__c</field>
            <value>
                <elementReference>GroupMembership</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupMembership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
