force-app/main/default/flows/INCIDENT_Create_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_on_record_creation</name>
        <label>Error on record creation</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There was an error during the creation of the incidentd!ces&apos;,{!$Api.Enterprise_Server_URL_260}))&amp;&apos;/&apos;&amp;{!NewIncidentID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_new_incident</name>
        <label>Navigate to new incident</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>c:NavigateToTheRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewIncidentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToTheRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_record_created_message</name>
        <label>Show record created message</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Navigate_to_new_incident</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The new incident was succesfully created!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>15</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>Change_type_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Impact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Urgency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Urgency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>INCIDENT - Create New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INCIDENT - Create New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Incident_Record</name>
        <label>Create Incident Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>NewIncidentID</assignRecordIdToReference>
        <connector>
            <targetReference>Show_record_created_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_record_creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>account_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Incident_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>entitlement_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Farmad_Priority__c</field>
            <value>
                <elementReference>Fetch_priority.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Impactinput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129N0000004L1W</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Category.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency__c</field>
            <value>
                <elementReference>Urgencyimput</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_priority</name>
        <label>Fetch priority</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incident_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Impact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Impactinput</elementReference>
            </value>
        </filters>
        <filters>
            <field>Urgency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Urgencyimput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident_Priority__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Record</name>
        <label>Get Entitlement Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>entitlement_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Get_Case_details</name>
        <label>Get Case details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_priority</targetReference>
        </connector>
        <fields>
            <name>Account_entitlement</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account: {!Get_Account_Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Entitlement: {!Get_Entitlement_Record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>subject_in</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Incident_description</name>
            <defaultValue>
                <stringValue>{!description_in}</stringValue>
            </defaultValue>
            <fieldText>Incident description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Subcategory__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Subcategory</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Impactinput</name>
            <choiceReferences>Impact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Impact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgencyimput</name>
            <choiceReferences>Urgency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description_in</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>entitlement_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewIncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject_in</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
