force-app/main/default/flows/INCIDENT_Update_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>INCIDENT Update Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INCIDENT Update Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_priority</name>
        <label>Fetch priority</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Impact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Impact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Urgency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Urgency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident_Priority__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_priority</name>
        <label>Update priority</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Farmad_Priority__c</field>
            <value>
                <elementReference>Fetch_priority.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_priority</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004L1WQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Impact__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Urgency__c</field>
            <operator>IsChanged</operator>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
