force-app/main/default/flows/INVOICE_APPROVAL_CreateInvoiceWithFile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendAttachmentToBC</name>
        <label>SendAttachmentToBC</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>GetDocumentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>BodyMailNaarBC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>BodyMailNaarBC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Farmad Invoicing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>bartstruyf@telenet.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>StartApprovalRequest</name>
        <label>StartApprovalRequest</label>
        <locationX>226</locationX>
        <locationY>2150</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Invoice_Approvel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>NewInvoice_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>UpdateApprover2</name>
        <label>UpdateApprover2</label>
        <locationX>138</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>GetApprover2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEOUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateApproversInvoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the Invoice Amount bigger than 1000 €</description>
        <name>BigInvoice</name>
        <label>BigInvoice</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>UpdateApproversInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangeApproval2ToCeo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRoleIDCeo</targetReference>
            </connector>
            <label>ChangeApproval2ToCeo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCeoFirstApprover</name>
        <label>IsCeoFirstApprover</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>UpdateApprover2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApprover1.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CEOUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApproversInvoice</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>+aanpassing new flow</description>
    <environments>Default</environments>
    <formulas>
        <name>InvoiceDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>InvoiceDueDateStandard</name>
        <dataType>Date</dataType>
        <expression>{!InvoiceDateToday}+30</expression>
    </formulas>
    <interviewLabel>INVOICE_APPROVAL CreateInvoiceWithFile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INVOICE_APPROVAL CreateInvoiceWithFile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewInvoice</name>
        <label>CreateNewInvoice</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>NewInvoice_ID</assignRecordIdToReference>
        <connector>
            <targetReference>UploadInvoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>Invoice_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>Invoice_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Reference_Number__c</field>
            <value>
                <elementReference>Invoice_Reference</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_GetDocumentID</name>
        <label>Copy 1 of GetDocumentID(1)</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendAttachmentToBC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceUpload.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>226</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApprover1</name>
        <label>GetApprover1</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApprover2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Approver_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApprover2</name>
        <label>GetApprover2</label>
        <locationX>226</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BigInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Approver_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentID</name>
        <label>GetDocumentID</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetDocumentID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceUpload.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRoleIDCeo</name>
        <label>GetRoleIDCeo</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserIDfromCEO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserIDfromCEO</name>
        <label>GetUserIDfromCEO</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCeoFirstApprover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRoleIDCeo.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CEOUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproversInvoice</name>
        <label>UpdateApproversInvoice</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>StartApprovalRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInvoice_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Sent to Approver 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_1__c</field>
            <value>
                <elementReference>GetApprover1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_2__c</field>
            <value>
                <elementReference>GetApprover2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceID__c</field>
            <value>
                <elementReference>Copy_1_of_GetDocumentID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <description>Gegevens om invoice aan te maken wordt opgevraagd</description>
        <name>Invoice_Creation_With_File</name>
        <label>New Invoice</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>CreateNewInvoice</targetReference>
        </connector>
        <fields>
            <name>AccountID</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Invoice__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountID.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Invoice_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Invoice_Reference</name>
            <dataType>String</dataType>
            <fieldText>Invoice Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>InvoiceDateToday</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>InvoiceDueDateStandard</elementReference>
            </defaultValue>
            <fieldText>Invoice Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadInvoice</name>
        <label>UploadInvoice</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDocumentID</targetReference>
        </connector>
        <fields>
            <name>InvoiceUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the Invoice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewInvoice_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_Creation_With_File</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BodyMailNaarBC</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Beste,
In bijlage een nieuwe inkoopfactuur.
Deze is opgenomen in de salesflow van Farmad.</text>
    </textTemplates>
    <variables>
        <name>CEOUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>NewInvoice_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
