force-app/main/default/flows/NotifyDQAdminWhenChangeIsMade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignUpdatedFields</name>
        <label>AssignUpdatedFields</label>
        <locationX>176</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>UpdatedFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>AssignUpdatedFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>None</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdatedFields</targetReference>
            </connector>
            <label>UpdateFields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NotifyDQAdminWhenChangeIsMade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotifyDQAdminWhenChangeIsMade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>APB_SCN_Number__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>NieuweWaarde</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OudeWaarde</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedFields</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
