force-app/main/default/flows/SCHEDULE_Insights_check_last_sale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>50</locationX>
        <locationY>1776</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>l.mertens@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Farmad Insights Issues found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_end_of_table</name>
        <label>Add end of table</label>
        <locationX>50</locationX>
        <locationY>1668</locationY>
        <assignmentItems>
            <assignToReference>Body_issuelist</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;&lt;/body&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_most_recent</name>
        <label>Assign most recent</label>
        <locationX>270</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>Most_recent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_since_last_sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_asset_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_issue_string</name>
        <label>Assign to issue string</label>
        <locationX>490</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Issues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APB_string</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nbr_issues</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_most_recent_sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_datetime</name>
        <label>Check datetime</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Datetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DatetimeFOL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Weekda</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weekday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeThreshold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Days_since_last</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_since_last_sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_last_sale_after_threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_text</name>
        <label>Create text</label>
        <locationX>138</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>Body_issuelist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_issue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_issue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_most_recent_sale</name>
        <label>Check if most recent sale</label>
        <locationX>402</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>For_each_asset_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_recent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Days_since_last_sale</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Most_recent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_most_recent</targetReference>
            </connector>
            <label>More recent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_last_sale_after_threshold</name>
        <label>Check last sale after threshold</label>
        <locationX>402</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Assign_to_issue_string</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Before</defaultConnectorLabel>
        <rules>
            <name>After</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DatetimeFOL</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_most_recent_sale</targetReference>
            </connector>
            <label>After</label>
        </rules>
    </decisions>
    <decisions>
        <name>Issues_found</name>
        <label>Issues found or most recent more than 1 day old</label>
        <locationX>182</locationX>
        <locationY>1260</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Nbr_issues</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Most_recent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_issue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>APB_string</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&apos;+{!For_each_asset_record.APB_number__c} + &apos;&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&apos;  + {!For_each_asset_record.Account.Name} +&apos;&lt;/td&gt;&lt;td&gt;&apos;+ {!For_each_asset_record.FOL_Additional_Info__c} + &apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>DatetimeFOL</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!For_each_asset_record.FOL_Additional_Info__c})</expression>
    </formulas>
    <formulas>
        <name>DateTimeThreshold</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - {!DaysBack}</expression>
    </formulas>
    <formulas>
        <name>Days_since_last_sale</name>
        <dataType>Number</dataType>
        <expression>NOW() - DATETIMEVALUE({!For_each_asset_record.FOL_Additional_Info__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The number of days that we will go back to calculate the target</description>
        <name>DaysBack</name>
        <dataType>Number</dataType>
        <expression>IF(WEEKDAY(TODAY()) = 1,3,IF(WEEKDAY(TODAY()) = 2 ,3,2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Weekday</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SCHEDULE Insights last sale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCHEDULE Insights check last sale</label>
    <loops>
        <name>For_each_asset_record</name>
        <label>For each asset record</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_last_sales_date_asset_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_datetime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Issues_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_issue</name>
        <label>For each issue</label>
        <locationX>50</locationX>
        <locationY>1368</locationY>
        <collectionReference>Issues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_end_of_table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_last_sales_date_asset_records</name>
        <label>Get last sales date asset records</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_asset_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t9N000000T5PgQAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>FOL_Additional_Info__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_last_sales_date_asset_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-17</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;The following pharmacies have a last sale that is before {!DateTimeThreshold}.&lt;/p&gt;&lt;p&gt;The most recent sale was {!Most_recent} days ago.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Body_issuelist}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Body_issuelist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;body&gt;&lt;table border=&quot;1&quot;&gt;&lt;tr&gt;&lt;b&gt;&lt;td&gt;APB&lt;/td&gt;&lt;td&gt;Pharmacy Name&lt;/td&gt;&lt;td&gt;Last Sale&lt;/td&gt;&lt;/b&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DatetIme_threshold</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_since_last</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Issues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Most_recent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Nbr_issues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Weekda</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
