force-app/main/default/flows/SERVICE_REQ_TYPE_Insights_activation_CREATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_subject</name>
        <label>Assign subject</label>
        <locationX>138</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>SubjectNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_activity_record.Activity_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubjectNew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> for {!$Record.Account.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_activity_cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_predecessors</name>
        <label>Check if predecessors</label>
        <locationX>2294</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Calculate_target_datetime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No predecessors</defaultConnectorLabel>
        <rules>
            <name>Predecessors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_created_activity_record.Service_Request_Predecessors__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_created_activity_record</targetReference>
            </connector>
            <label>Predecessors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_parameter_NOO</name>
        <label>Check parameter NO</label>
        <locationX>2074</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Check_if_predecessors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>NO_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_template_activity_record.Parameter_NO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parameter_No_records</targetReference>
            </connector>
            <label>NO Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_parameter_YESS</name>
        <label>Check parameter YES</label>
        <locationX>1744</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Check_parameter_NOO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>ParameterYESExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_template_activity_record.Parameter_YES__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parameter_Yes_records</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_of_parameter_NOO</name>
        <label>Value of parameter NO?</label>
        <locationX>1854</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_activity_record_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not No</defaultConnectorLabel>
        <rules>
            <name>Value_of_parameter_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parameter_No_records.Yes_No_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_created_activity_record</targetReference>
            </connector>
            <label>Value of parameter NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_of_parameter_YES</name>
        <label>Value of parameter YES?</label>
        <locationX>1414</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Update_activity_record_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yes</defaultConnectorLabel>
        <rules>
            <name>Value_iss_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parameter_Yes_records.Yes_No_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_created_activity_record</targetReference>
            </connector>
            <label>Value is YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RefDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SERVICE REQ TYPE Insifgts activation - CREATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ TYPE Insights activation - CREATE</label>
    <loops>
        <name>For_each_activity_record</name>
        <label>For each activity record</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_activity_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_subject</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_each_created_activity_record</name>
        <label>For each created activity record</label>
        <locationX>1238</locationX>
        <locationY>408</locationY>
        <collectionReference>get_created_activity_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_template_activity_record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_activity_cases</name>
        <label>Create activity cases</label>
        <locationX>138</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>For_each_activity_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>For_each_activity_record.Activity_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>For_each_activity_record.Assigned_to_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>For_each_activity_record.Assigned_to_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Activity_to_set_date_for__c</field>
            <value>
                <elementReference>For_each_activity_record.Set_date_for_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Activity_type__c</field>
            <value>
                <elementReference>For_each_activity_record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Related_Product__c</field>
            <value>
                <elementReference>For_each_activity_record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_activity_template__c</field>
            <value>
                <elementReference>For_each_activity_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Definition__c</field>
            <value>
                <elementReference>For_each_activity_record.Service_Request_Definition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Predecessors__c</field>
            <value>
                <elementReference>For_each_activity_record.Predecessors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Sequence_Nr__c</field>
            <value>
                <elementReference>For_each_activity_record.Activity_Sequence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Stream__c</field>
            <value>
                <elementReference>For_each_activity_record.Stream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_max_leadtime__c</field>
            <value>
                <elementReference>For_each_activity_record.Max_leadtime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectNew</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_activity_records</name>
        <label>Get activity records</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request_Definition__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request_Definition_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_created_activity_records</name>
        <label>get created activity records</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_created_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parameter_No_records</name>
        <label>Get Parameter No record</label>
        <locationX>1854</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Value_of_parameter_NOO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Master_Parameter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_template_activity_record.Parameter_NO__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parameter_Yes_records</name>
        <label>Get Parameter Yes record</label>
        <locationX>1414</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Value_of_parameter_YES</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Master_Parameter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_template_activity_record.Parameter_YES__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template_activity_record</name>
        <label>Get template activity record</label>
        <locationX>1744</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_parameter_YESS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_created_activity_record.SR_activity_template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Definition_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_activity_record_Skipped</name>
        <label>Copy 1 of Update activity record Skipped</label>
        <locationX>1942</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>For_each_created_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_created_activity_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_status_to_approved_for_implementations</name>
        <label>Set status to approved for implementations</label>
        <locationX>2382</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>For_each_created_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_created_activity_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_target__c</field>
            <value>
                <elementReference>Target_datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved_for_implementation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_activity_record_Skipped</name>
        <label>Update activity record Skipped</label>
        <locationX>1502</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>For_each_created_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_created_activity_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_activity_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZdQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0O9N000000S0HVUA0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Update_created_activities</name>
            <connector>
                <targetReference>get_created_activity_records</targetReference>
            </connector>
            <label>Update created activities after 1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_target_datetime</name>
        <label>Calculate target datetime</label>
        <locationX>2382</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Set_status_to_approved_for_implementations</targetReference>
        </connector>
        <flowName>GENERIC_Calculate_date_weekdays</flowName>
        <inputAssignments>
            <name>InputDateTime</name>
            <value>
                <elementReference>RefDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberDays</name>
            <value>
                <elementReference>For_each_created_activity_record.Service_Request_max_leadtime__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Target_datetime</assignToReference>
            <name>OutputDateTime</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Delay_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Initial_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubjectNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Target_datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
