force-app/main/default/flows/SERVICE_REQ_GEN_Close_Activity_and_activate_next.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_number_of_predecessors</name>
        <label>Assign number of predecessors</label>
        <locationX>468</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NbrPredecessors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NbrPredecessors2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbrPredecessors</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loopcounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllPredecessorsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_all_predecessors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_testvar</name>
        <label>Assign testvar</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredecessorSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Testnum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemicolonPos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loopcounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemicolonPos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllPredecessorsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_predecessor_status.IsClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_for_all_predecessors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_open_activities</name>
        <label>Count open activities</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>NbrOpenActivities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_open_activities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_based_on_open_activities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alle_Predecessors_Closed</name>
        <label>Alle Predecessors Closed</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_for_each_succeeding_activity_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not all closed</defaultConnectorLabel>
        <rules>
            <name>All_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllPredecessorsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_targetdatetime</targetReference>
            </connector>
            <label>All closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_for_all_predecessors</name>
        <label>Loop for all predecessors</label>
        <locationX>468</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Alle_Predecessors_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No predecessors left</defaultConnectorLabel>
        <rules>
            <name>Predecessor_left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopcounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NbrPredecessors</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllPredecessorsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_predecessor_status</targetReference>
            </connector>
            <label>Predecessor left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_based_on_open_activities</name>
        <label>Select based on open activities</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Update_master_service_request_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activities left open</defaultConnectorLabel>
        <rules>
            <name>No_open_activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrOpenActivities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_master_service_request</targetReference>
            </connector>
            <label>No open activities</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActivityToSetDateSelected</name>
        <dataType>String</dataType>
        <expression>MID({!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}, ({!SemicolonPos_SetDateFor} - {!PositionInString_SetDateFor} ))</expression>
    </formulas>
    <formulas>
        <name>NbrActivitiesToSetDateFor</name>
        <dataType>Number</dataType>
        <expression>LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) - LEN(SUBSTITUTE({!Get_activity_record.SR_Activity_to_set_date_for__c},&quot;;&quot;,&quot;&quot;)) +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NbrPredecessors2</name>
        <dataType>Number</dataType>
        <expression>LEN({!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}) - LEN(SUBSTITUTE({!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c},&quot;;&quot;,&quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PredecessorSelected</name>
        <dataType>String</dataType>
        <expression>MID({!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}, {!PositionInString}, ({!SemicolonPos} - {!PositionInString} ))</expression>
    </formulas>
    <formulas>
        <name>RefDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!Loop_for_each_succeeding_activity_record.Date_Time_target__c}),NOW(), {!Loop_for_each_succeeding_activity_record.Date_Time_target__c} )</expression>
    </formulas>
    <formulas>
        <name>SemicolonPos</name>
        <dataType>Number</dataType>
        <expression>IF(FIND(&quot;;&quot;, {!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}, {!PositionInString}) &gt; 0, FIND(&quot;;&quot;, {!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}, {!PositionInString}), LEN({!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}) +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SemicolonPos_SetDateFor</name>
        <dataType>Number</dataType>
        <expression>IF(FIND(&quot;;&quot;,{!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}) &gt; 0, FIND(&quot;;&quot;, {!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}), LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StreamSequenceCurrent</name>
        <dataType>String</dataType>
        <expression>{!Get_activity_record.Service_Request_Stream__c} &amp; {!Get_activity_record.Service_Request_Sequence_Nr__c}</expression>
    </formulas>
    <formulas>
        <name>TestPos</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;;&quot;, {!Loop_for_each_succeeding_activity_record.Service_Request_Predecessors__c}, {!PositionInString})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SERVICE REQ GEN Close Activity and activate next {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Close Activity and activate next</label>
    <loops>
        <name>Loop_for_each_succeeding_activity_record</name>
        <label>Loop for each succeeding activity record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_succeeding_activity_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_number_of_predecessors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_open_activities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_activity_record</name>
        <label>Get activity record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_succeeding_activity_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_activities</name>
        <label>Get open activities</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_open_activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_predecessor_status</name>
        <label>Get predecessor status</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_testvar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_each_succeeding_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PredecessorSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_succeeding_activity_records</name>
        <label>Get succeeding activity records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_each_succeeding_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Predecessors__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>StreamSequenceCurrent</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_master_service_request</name>
        <label>Close master service request</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_master_service_request_status</name>
        <label>Update master service request status</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_of_successor</name>
        <label>Update status of successor</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_for_each_succeeding_activity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_each_succeeding_activity_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_target__c</field>
            <value>
                <elementReference>Target_Datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved_for_implementation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_activity_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_targetdatetime</name>
        <label>Calculate targetdatetime</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_status_of_successor</targetReference>
        </connector>
        <flowName>GENERIC_Calculate_date_weekdays</flowName>
        <inputAssignments>
            <name>InputDateTime</name>
            <value>
                <elementReference>RefDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberDays</name>
            <value>
                <elementReference>Loop_for_each_succeeding_activity_record.Service_Request_max_leadtime__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Target_Date</assignToReference>
            <name>OutputDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Target_Datetime</assignToReference>
            <name>OutputDateTime</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllPredecessorsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Assignment_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loopcounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Loopcounter_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrOpenActivities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrPredecessors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositionInString</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PositionInString_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Target_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Target_Datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testnum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
