force-app/main/default/flows/SERVICE_Create_a_new_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_during_record_creation</name>
        <label>Error during record creation</label>
        <locationX>440</locationX>
        <locationY>5354</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There was an error during the creation of the service request record!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ServiceCreatedToast</name>
        <label>ServiceCreatedToast</label>
        <locationX>176</locationX>
        <locationY>5354</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_through_each_parameter_entered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record created successfully. Activity statuses are updated after 1 minute. {url} to open the new service request.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <stringValue>Click here</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>NewServiceURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_edited_parameters_to_asset_parameters</name>
        <label>Add edited parameters to asset parameters</label>
        <locationX>176</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>AssetParameters_v2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parameters.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_parameter_record</name>
        <label>Assign to parameter record</label>
        <locationX>528</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>AssetParametersRecord_v2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_asset_parameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetParametersRecord_v2.Yes_No_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YesNoInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_parameter_record_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_parameter_record_collection</name>
        <label>Assign to parameter record collection</label>
        <locationX>528</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AssetParameters_v2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetParametersRecord_v2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_asset_parameter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Relevant_Assets_variable</name>
        <label>Assign to Relevant Assets variable</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RelevantAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_asset_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enabled_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_parameter_record</name>
        <label>Copy 1 of Assign to parameter record</label>
        <locationX>528</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>AssetParametersRecord_v2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_contract_parameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetParametersRecord_v2.Yes_No_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YesNoInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_parameter_record_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_parameter_record_collection</name>
        <label>Copy 1 of Assign to parameter record collection</label>
        <locationX>528</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>AssetParameters_v2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetParametersRecord_v2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_contract_parameter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_input_to_no</name>
        <label>Copy 1 of Set input to no</label>
        <locationX>528</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_input_to_yes</name>
        <label>Copy 1 of Set input to yes</label>
        <locationX>264</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_input_to_no</name>
        <label>Copy 2 of Set input to no</label>
        <locationX>792</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_input_to_no</name>
        <label>Copy 3 of Set input to no</label>
        <locationX>792</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_for_asset_parameter_record</name>
        <label>Initialize for asset parameter record</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_asset_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_for_contract_parameter_record</name>
        <label>Initialize for contract parameter record</label>
        <locationX>528</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_contract_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_input_to_no</name>
        <label>Set input to no</label>
        <locationX>528</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_input_to_yes</name>
        <label>Set input to yes</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>YesNoInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_parameter_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_contractline</name>
        <label>Active contractline?</label>
        <locationX>528</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_input_to_no</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contractline</defaultConnectorLabel>
        <rules>
            <name>Contractline_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contract_records.Contractline_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_input_to_yes</targetReference>
            </connector>
            <label>Contractline active</label>
        </rules>
        <rules>
            <name>Contractline_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contract_records.Contractline_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_input_to_no</targetReference>
            </connector>
            <label>Contractline inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_correct_answer</name>
        <label>Check correct answer</label>
        <locationX>517</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Required_condition_not_fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wrong answer</defaultConnectorLabel>
        <rules>
            <name>Correct_answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_parameters.Required_answer_to_continue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_all_parameters.Yes_No_Input__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_parameters</targetReference>
            </connector>
            <label>Correct answer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_email_request</name>
        <label>Check email request</label>
        <locationX>770</locationX>
        <locationY>4394</locationY>
        <defaultConnectorLabel>Not requested</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_would_like_to_receive_an_e_mail_when_the_required_parameter_is_fulfilled_withi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_asset_for_account</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_answer_required_to_continue</name>
        <label>Check if answer required to continue</label>
        <locationX>874</locationX>
        <locationY>4070</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>RequiredAnswer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_parameters.Required_answer_to_continue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_correct_answer</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_asset_found</name>
        <label>Check if asset found</label>
        <locationX>572</locationX>
        <locationY>4610</locationY>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetFoundafterWait</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enabled_asset</name>
        <label>Enabled asset?</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Set_input_to_no</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not enabled</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_asset_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enabled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_input_to_yes</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
        <rules>
            <name>Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_asset_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disabled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_input_to_no</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_parameter</name>
        <label>Required parameter?</label>
        <locationX>748</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Loop_through_parameters_to_check_if_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_parameters_to_check_if_required.Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_parameter_input</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_parameter</name>
        <label>Same parameter?</label>
        <locationX>836</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Loop_through_parameter_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other parameter</defaultConnectorLabel>
        <rules>
            <name>Same_required_parameter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_parameter_input.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_parameters_to_check_if_required.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_through_parameters_to_check_if_required</targetReference>
            </connector>
            <label>Same required parameter</label>
        </rules>
    </decisions>
    <description>To be used with flow modal on Homepage</description>
    <dynamicChoiceSets>
        <name>ServiceRequestDefinitions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Service_Request_Definition__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NewServiceURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260}))&amp;&apos;/&apos;&amp;{!SRcreatedID}</expression>
    </formulas>
    <interviewLabel>SERVICE REQUEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE Create a new request</label>
    <loops>
        <name>For_each_asset_parameter</name>
        <label>For each asset parameter</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_asset_parameter_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_for_asset_parameter_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_contract_parameter_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_contract_parameter</name>
        <label>For each contract parameter</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_contract_parameter_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_for_contract_parameter_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_input_parameter_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_parameters</name>
        <label>Loop through all parameters</label>
        <locationX>176</locationX>
        <locationY>3962</locationY>
        <collectionReference>AssetParameters_v2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_answer_required_to_continue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Master_Service_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_each_parameter_entered</name>
        <label>Loop through each parameter entered</label>
        <locationX>176</locationX>
        <locationY>5462</locationY>
        <collectionReference>AssetParameters_v2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_parameter_record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_parameter_input</name>
        <label>Loop through parameter input</label>
        <locationX>616</locationX>
        <locationY>3062</locationY>
        <collectionReference>Parameters.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_parameter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Required_parameter_not_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_parameters_to_check_if_required</name>
        <label>Loop through parameters to check if required</label>
        <locationX>176</locationX>
        <locationY>2846</locationY>
        <collectionReference>Get_input_parameter_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Required_parameter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_edited_parameters_to_asset_parameters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Master_Service_Request</name>
        <label>Create Master Service Request</label>
        <locationX>176</locationX>
        <locationY>5246</locationY>
        <assignRecordIdToReference>SRcreatedID</assignRecordIdToReference>
        <connector>
            <targetReference>ServiceCreatedToast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_during_record_creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Get_Service_Definition.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service_Definition.Assign_to_queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_previous_group__c</field>
            <value>
                <elementReference>Get_Service_Definition.Assign_to_queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129N0000004JZdQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Definition__c</field>
            <value>
                <elementReference>Select_SRD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Get_Service_Definition.Name} for {!Get_Account_record.Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_parameter_record</name>
        <label>Create parameter record</label>
        <locationX>264</locationX>
        <locationY>5570</locationY>
        <connector>
            <targetReference>Loop_through_each_parameter_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Link_to_activity__c</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Link_to_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Parameter__c</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required__c</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>SRcreatedID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text_input__c</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Text_input__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yes_No_Input__c</field>
            <value>
                <elementReference>Loop_through_each_parameter_entered.Yes_No_Input__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Request_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_record</name>
        <label>Get Account record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Request_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_asset_parameter_records</name>
        <label>Get asset parameter records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_asset_parameter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_SRD</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request_Definition_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_asset_record</name>
        <label>Get asset record</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Relevant_Assets_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_asset_parameter.Product_of_Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contract_parameter_records</name>
        <label>Get contract parameter records</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_contract_parameter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_SRD</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request_Definition_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contract_records</name>
        <label>Get active contract records</label>
        <locationX>528</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_contractline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_contract_parameter.Product_of_Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contractline_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BC_Contractlines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_input_parameter_records</name>
        <label>Get input parameter records</label>
        <locationX>176</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Request_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_SRD</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Input</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request_Definition_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Definition</name>
        <label>Get Service Definition</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_asset_parameter_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_SRD</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Required_condition_not_fulfilled</name>
        <label>Copy 1 of Required condition not fulfilled</label>
        <locationX>770</locationX>
        <locationY>4286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_email_request</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Loop_through_all_parameters.Name}&lt;/strong&gt; is required and should be &lt;strong&gt;{!Loop_through_all_parameters.Required_answer_to_continue__c}&lt;/strong&gt;. You entered &lt;strong&gt;{!For_each_asset_parameter.Yes_No_Input__c}&lt;/strong&gt;. The Service Request will not be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_through_all_parameters.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Input</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageForAsset</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_through_all_parameters.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is required and should be &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_through_all_parameters.Required_answer_to_continue__c}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. The current status of the asset is  &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!For_each_asset_parameter.Yes_No_Input__c}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. The Service Request will not be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_through_all_parameters.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Asset</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_would_like_to_receive_an_e_mail_when_the_required_parameter_is_fulfilled_withi</name>
            <dataType>Boolean</dataType>
            <fieldText>I would like to receive an e-mail when the required parameter is fulfilled within 30 days!</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_parameter_not_completed</name>
        <label>Required parameter not completed</label>
        <locationX>616</locationX>
        <locationY>3512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Service_Request_Parameters</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Loop_through_parameters_to_check_if_required.Name}&lt;/strong&gt; is required.&lt;/p&gt;&lt;p&gt;Return to the Previous screen and provide a value for this parameter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Return to parameter screen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Request_Parameters</name>
        <label>Service Request Parameters</label>
        <locationX>176</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_parameters_to_check_if_required</targetReference>
        </connector>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;{!Get_Service_Definition.Instructions__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssetParameters2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service_Request_Definition_Parameter__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset and Contract Parameters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssetParameters_v2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1b08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Parameter Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Request Definit Parameters Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Yes_No_Input__c&quot;,&quot;guid&quot;:&quot;column-8916&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Value&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Yes/No Input&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Parameters</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service_Request_Definition_Parameter__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Service_Request_Definition_Parameter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_input_parameter_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Paremeters for {!Get_Service_Definition.Name}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Yes_No_Input__c:true, Text_input__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Yes_No_Input__c,Text_input__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Input Parameter, Yes_No_Input__c:Yes/No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:300, Yes_No_Input__c:111, Text_input__c:346</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Yes_No_Input__c:true, Text_input__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Service Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Request_type</name>
        <label>Service Request type2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Definition</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account: {!Get_Account_record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_SRD</name>
            <choiceReferences>ServiceRequestDefinitions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Service Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Wait_for_asset_for_account</name>
        <label>Wait for asset for account</label>
        <locationX>572</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Check_if_asset_found</targetReference>
        </connector>
        <flowName>SERVICE_REQ_GEN_Wait_for_asset_for_account</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Account_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductID</name>
            <value>
                <elementReference>Loop_through_all_parameters.Product_of_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssetFoundafterWait</assignToReference>
            <name>AssetFound</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFoundafterWait</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AssetParameters_v2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request_Definition_Parameter__c</objectType>
    </variables>
    <variables>
        <name>AssetParametersRecord_v2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request_Definition_Parameter__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelevantAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SRcreatedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNoInput</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
