force-app/main/default/flows/SERVICE_REQ_GEN_Enable_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ActivityToSetDateSelected</name>
        <dataType>String</dataType>
        <expression>MID({!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}, ({!SemicolonPos_SetDateFor} - {!PositionInString_SetDateFor} ))</expression>
    </formulas>
    <formulas>
        <name>NbrActivitiesToSetDateFor</name>
        <dataType>Number</dataType>
        <expression>LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) - LEN(SUBSTITUTE({!Get_activity_record.SR_Activity_to_set_date_for__c},&quot;;&quot;,&quot;&quot;)) +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SemicolonPos_SetDateFor</name>
        <dataType>Number</dataType>
        <expression>IF(FIND(&quot;;&quot;,{!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}) &gt; 0, FIND(&quot;;&quot;, {!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}), LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StreamSequenceCurrent</name>
        <dataType>String</dataType>
        <expression>{!Get_activity_record.Service_Request_Stream__c} &amp; {!Get_activity_record.Service_Request_Sequence_Nr__c}</expression>
    </formulas>
    <interviewLabel>SERVICE REQ GEN Enable Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Enable Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_activity_record</name>
        <label>Get activity record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_and_enable_asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_the_activity</name>
        <label>Close the activity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_activity_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_and_enable_asset</name>
        <label>Create and enable asset</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Close_the_activity</targetReference>
        </connector>
        <flowName>SERVICE_REQ_GEN_Set_asset_status_to_enabled_for_account</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_activity_record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductID</name>
            <value>
                <elementReference>Get_activity_record.SR_Related_Product__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Email_assignment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Service Request activity with subject &lt;strong&gt;{!Get_activity_record.Subject}&lt;/strong&gt; has been assigned to the queue  in which you are a member.&lt;/p&gt;&lt;p&gt;If you will handle this activity, start with the &apos;Assign to me&apos; button.&lt;/p&gt;&lt;p&gt;{!8585d9f1-a55f-4533-8131-6bfbda2dc1a7.Assignment_email_message__c}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_activity_record.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the service request activity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://farmad.file.force.com/sfc/servlet.shepherd/version/download/0689N000000stf8?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Schermafbeelding 2023-04-06 120747.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;The Service Management team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllPredecessorsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loopcounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Loopcounter_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrOpenActivities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrPredecessors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositionInString</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PositionInString_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testnum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
