force-app/main/default/flows/SERVICE_REQ_GEN_Activity_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertSetDate</name>
        <label>ConvertSetDate</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <actionName>ConvertDateToDatetimeFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initialize_for_records_to_set_date_for</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateValue</name>
            <value>
                <elementReference>Set_date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hourValue</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertDateToDatetimeFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_and_change_variables</name>
        <label>Assign and change variables</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loopcounter_SetDateFor</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString_SetDateFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemicolonPos_SetDateFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString_SetDateFor</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>For_each_record_to_set_date_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_status</name>
        <label>Assign new status</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Activity_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreamSequenceCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_date_is_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_for_records_to_set_date_for</name>
        <label>Initialize for records to set date for</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loopcounter_SetDateFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionInString_SetDateFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_record_to_set_date_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_to_reassigned</name>
        <label>Set status to reassigned</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Reassign_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reassigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_step_completion_to_yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_step_completion</name>
        <label>Set step_completion &amp; reassignment</label>
        <locationX>325</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>step_completion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reassigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_activity_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_step_completion_to_yes</name>
        <label>set step completion to true</label>
        <locationX>325</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>step_completion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record_with_reassignment_status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Activity_completed</name>
        <choiceText>Activity completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_progress</name>
        <choiceText>In progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_hold</name>
        <choiceText>On hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On_hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Waiting_for_customer</name>
        <choiceText>Waiting for customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Customer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_date_is_set</name>
        <label>Check if date is set</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_record_with_activity_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Date not set</defaultConnectorLabel>
        <rules>
            <name>Date_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertSetDate</targetReference>
            </connector>
            <label>Date set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_reassign</name>
        <label>Check reassign</label>
        <locationX>325</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_new_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otherwise</defaultConnectorLabel>
        <rules>
            <name>Reassign_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reassign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_to_queue</targetReference>
            </connector>
            <label>Reassign selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_each_record_to_set_date_for</name>
        <label>For each record to set date for</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_record_with_activity_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record left</defaultConnectorLabel>
        <rules>
            <name>Record_left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopcounter_SetDateFor</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NbrActivitiesToSetDateFor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_date_in_record</targetReference>
            </connector>
            <label>Record left</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_status</name>
        <label>New status</label>
        <locationX>600</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_activity_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_step_completion_to_yes</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActivityToSetDateSelected</name>
        <dataType>String</dataType>
        <expression>MID({!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}, ({!SemicolonPos_SetDateFor} - {!PositionInString_SetDateFor} ))</expression>
    </formulas>
    <formulas>
        <name>NbrActivitiesToSetDateFor</name>
        <dataType>Number</dataType>
        <expression>LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) - LEN(SUBSTITUTE({!Get_activity_record.SR_Activity_to_set_date_for__c},&quot;;&quot;,&quot;&quot;)) +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SemicolonPos_SetDateFor</name>
        <dataType>Number</dataType>
        <expression>IF(FIND(&quot;;&quot;,{!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}) &gt; 0, FIND(&quot;;&quot;, {!Get_activity_record.SR_Activity_to_set_date_for__c}, {!PositionInString_SetDateFor}), LEN({!Get_activity_record.SR_Activity_to_set_date_for__c}) +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StreamSequenceCurrent</name>
        <dataType>String</dataType>
        <expression>{!Get_activity_record.Service_Request_Stream__c} &amp; {!Get_activity_record.Service_Request_Sequence_Nr__c}</expression>
    </formulas>
    <interviewLabel>SERVICE REQ GEN Activity Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Activity Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_activity_record</name>
        <label>Get activity record</label>
        <locationX>325</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_date_in_record</name>
        <label>Set date in record</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assign_and_change_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityToSetDateSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_target__c</field>
            <value>
                <elementReference>ConvertSetDate.datetimeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_with_activity_status</name>
        <label>Update record with activity status</label>
        <locationX>600</locationX>
        <locationY>1556</locationY>
        <connector>
            <targetReference>New_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_with_reassignment_status</name>
        <label>Update record with reassignment status</label>
        <locationX>325</locationX>
        <locationY>2114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reassigned__c</field>
            <value>
                <elementReference>reassigned</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Activity_Status_Update</name>
        <label>Activity Status Update</label>
        <locationX>325</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_reassign</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;{!Get_activity_record.SR_activity_template__r.Activity_Instructions__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_activity_record.SR_activity_template__r.Activity_Instructions__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Activity_Status</name>
            <choiceReferences>In_progress</choiceReferences>
            <choiceReferences>On_hold</choiceReferences>
            <choiceReferences>Waiting_for_customer</choiceReferences>
            <choiceReferences>Activity_completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Request Activity Status Update</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Set_date</name>
            <dataType>Date</dataType>
            <fieldText>Set date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_activity_record.SR_Activity_to_set_date_for__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flow_buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Re-assign&quot;,&quot;value&quot;:&quot;reassign&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update Status</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_step_completion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Reassign_to_queue</name>
        <label>Reassign to queue</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_status_to_reassigned</targetReference>
        </connector>
        <flowName>GENERIC_reassign_case_to_a_queue</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>reassigned_id</assignToReference>
            <name>reassigned_queue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllPredecessorsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Assignment_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loopcounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Loopcounter_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrOpenActivities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbrPredecessors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositionInString</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PositionInString_SetDateFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Reassign_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>reassigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>reassigned_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>step_completion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testnum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
