force-app/main/default/flows/SERVICE_REQ_GEN_Escalate_when_over_target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_queue</name>
        <label>Send email to queue</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Overtarget_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Target for &apos;{!$Record.Subject}&apos; has passed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_overtarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_user</name>
        <label>Send email to user</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Target for &apos;{!$Record.Subject}&apos; has passed </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_overtarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>weekday_2</name>
        <label>weekday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>weekday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_of_week</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_weekday</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_over_target</name>
        <label>Check if over target</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Not over target</defaultConnectorLabel>
        <rules>
            <name>Over_target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Time_target__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_owner_type</targetReference>
            </connector>
            <label>Over target</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_owner_type</name>
        <label>Check owner type</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3digitsofownerid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_of_assigned_queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3digitsofownerid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_user</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_weekday</name>
        <label>Check weekday</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Check_if_over_target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Week</defaultConnectorLabel>
        <rules>
            <name>Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Day_of_week</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Day_of_week</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Weekend</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Day_of_week</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>First3digitsofownerid</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.OwnerId},3)</expression>
    </formulas>
    <interviewLabel>SER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Escalate when over target</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>weekday_2</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_for_implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129N0000004JZiQAM</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-08</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Emails_of_assigned_queue</name>
        <label>Emails of assigned queue</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Send_email_to_queue</targetReference>
        </connector>
        <flowName>GENERIC_emailids_of_a_queue</flowName>
        <inputAssignments>
            <name>QueueId</name>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Overtarget_emails</assignToReference>
            <name>Queue_emailids</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>email_overtarget</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The service request with subject &apos;{!$Record.Subject}&apos; has passed its target date of {!$Record.Date_Time_target__c}.&lt;/p&gt;&lt;p&gt;{!$Record.Case_URL__c}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Record.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to go to the service request activity record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;The Service Management team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>current_datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Overtarget_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testsubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>aaaaa</stringValue>
        </value>
    </variables>
    <variables>
        <name>weekday</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
