force-app/main/default/flows/SERVICE_REQ_GEN_Send_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_assignees</name>
        <label>Send email to assignees</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_assignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Assignment_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@farmad.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>&apos;{!Get_activity_record.Subject}&apos; has been assigned to queue {!Get_activity_record.Owner:Group.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_assignment_email_required</name>
        <label>Check if assignment email required</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_activity_template.Assignment_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_email_of_assigned_queue</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SERVICE REQ GEN Send email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Send assignment email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_activity_record</name>
        <label>Get activity record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_activity_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_activity_template</name>
        <label>Get activity template</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_assignment_email_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_activity_record.SR_activity_template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request_Definition_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_activity_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_email_of_assigned_queue</name>
        <label>Get email of assigned queue</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_email_to_assignees</targetReference>
        </connector>
        <flowName>GENERIC_emailids_of_a_queue</flowName>
        <inputAssignments>
            <name>QueueId</name>
            <value>
                <elementReference>Get_activity_record.Owner:Group.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Assignment_emails</assignToReference>
            <name>Queue_emailids</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Email_assignment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;&lt;p&gt;A Service Request activity with subject &lt;strong&gt;{!Get_activity_record.Subject}&lt;/strong&gt; has been assigned to the queue  in which you are a member.&lt;/p&gt;&lt;p&gt;If you will handle this activity, start with the &apos;&lt;strong&gt;Assign to me&lt;/strong&gt;&apos; button.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_activity_template.Assignment_email_message__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_activity_record.Case_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the service request activity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;The Service Management team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Assignment_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
