force-app/main/default/flows/SERVICE_REQ_GEN_Wait_for_asset_for_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_nbr_records</name>
        <label>Count nbr records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NbrFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Search_for_asset_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nbr_records_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssetFound</name>
        <label>Set AssetFound</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AssetFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_warningtime_reached</name>
        <label>Check if warningtime reached</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Pause_for_12_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>WarningTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_for_12_hours</targetReference>
            </connector>
            <label>Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nbr_records_found</name>
        <label>Nbr records found</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_assets_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_warningtime_reached</targetReference>
            </connector>
            <label>No assets found</label>
        </rules>
        <rules>
            <name>X1_asset_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AssetFound</targetReference>
            </connector>
            <label>1 asset found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WarningTime</name>
        <dataType>DateTime</dataType>
        <expression>{!InitStart} + 30</expression>
    </formulas>
    <interviewLabel>SERVICE REQ GEN Wait for asset for account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Wait for asset for account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_for_asset_record</name>
        <label>Search for asset record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_nbr_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_for_asset_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalBC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>NbrFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_for_12_hours</name>
        <label>Pause for 12 hours</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Search_for_asset_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pause</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_number_of_hours</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_for_asset_record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause number of hours</label>
        </waitEvents>
    </waits>
</Flow>
