force-app/main/default/flows/SERVICE_REQ_GEN_Set_asset_status_to_enabled_for_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_AssetName</name>
        <label>Assign AssetName</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AssetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> for {!Get_account_record.APB_SCN_Number__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalBC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_record.ExternalBC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalBC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_account_record.APB_SCN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_and_enable_new_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_nbr_records</name>
        <label>Count nbr records</label>
        <locationX>334</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NbrFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Search_for_asset_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nbr_records_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Nbr_records_found</name>
        <label>Nbr records found</label>
        <locationX>334</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_assets_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account_record</targetReference>
            </connector>
            <label>No assets found</label>
        </rules>
        <rules>
            <name>X1_asset_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_record_found</targetReference>
            </connector>
            <label>1 asset found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SERVICE REQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SERVICE REQ GEN Set asset status to enabled for account</label>
    <loops>
        <name>For_each_record_found</name>
        <label>For each record found</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <collectionReference>Search_for_asset_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_and_enable_new_asset</name>
        <label>Create and enable new asset</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalBC__c</field>
            <value>
                <elementReference>ExternalBC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129N0000004JdGQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_record</name>
        <label>Get account record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_record</name>
        <label>Get Product record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AssetName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_asset_record</name>
        <label>Search for asset record</label>
        <locationX>334</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_nbr_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>For_each_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_record_found.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>208</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_for_asset_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalBC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NbrFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
