force-app/main/default/flows/SUBSCRIPTION_Form_BypassSendEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an e-mailnotification to the subscriber</description>
        <name>SendEmailNotificationToSubscriber</name>
        <label>SendEmailNotificationToSubscriber</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2aV00000002Zh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailSubjectLine</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ContactEmailVariable</name>
        <label>ContactEmailVariable</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecipientEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailSubject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailSubject</name>
        <label>EmailSubject</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>EmailSubjectLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EmailBody__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SUBSCRIPTION_Form BypassSendEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBSCRIPTION_Form BypassSendEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailNotificationToSubscriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactEmailVariable</targetReference>
        </connector>
        <object>EmaiPostEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.RecipientEmail__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
