force-app/main/default/flows/TIME_Send_reminder_emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_reminder_email</name>
        <label>Send reminder email</label>
        <locationX>616</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Initialize</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Userprincipalname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Timesheets: niet correct ingevulde weken</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_weeklist</name>
        <label>Assign to weeklist</label>
        <locationX>396</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>Body_weeklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Weekstring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterLines</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterLinesLarger1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LargeDevLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_each_weekrecord.Escalation_points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_escalation_points</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize</name>
        <label>Initialize</label>
        <locationX>528</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>Userprincipalname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_weekrecord.userprincipalname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Weeklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyStringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Body_weeklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HeaderString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterLinesLarger1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_weeklist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_records</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_time_reporting_records</collectionReference>
        <connector>
            <targetReference>For_each_weekrecord</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>userprincipalname__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Period_start__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>First_record</name>
        <label>First record?</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Send_reminder_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not first</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Userprincipalname</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize</targetReference>
            </connector>
            <label>First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_user</name>
        <label>Same user?</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>First_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_weekrecord.userprincipalname__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Userprincipalname</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_weeklist</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LargeDevLine</name>
        <dataType>Number</dataType>
        <expression>IF(ABS({!For_each_weekrecord.Period_deviation__c}) &gt; 1,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NEWEscalationPoints</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!For_each_weekrecord.Escalation_points__c}),0,{!For_each_weekrecord.Escalation_points__c}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ThreeWeeksago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 21</expression>
    </formulas>
    <formulas>
        <name>Weekstring</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+TEXT({!For_each_weekrecord.Period_start__c}) + &apos;&lt;/td&gt;&lt;td&gt;&apos; + TEXT({!For_each_weekrecord.Actual_time__c}) +  &apos;&lt;/td&gt;&lt;td&gt;&apos;+ TEXT({!For_each_weekrecord.Period_target__c})   + &apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>TIME Send reminder emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TIME Send reminder emails</label>
    <loops>
        <name>For_each_weekrecord</name>
        <label>For each weekrecord</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_time_reporting_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_user</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_time_reporting_records</name>
        <label>Get time reporting records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Period_deviation__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Period_start__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ThreeWeeksago</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Period_start__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2023-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_escalation_points</name>
        <label>Update escalation points</label>
        <locationX>396</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>For_each_weekrecord</targetReference>
        </connector>
        <inputReference>For_each_weekrecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_time_reporting_records</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-04-25</startDate>
            <startTime>22:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Beste collega,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Er is/zijn momenteel {!CounterLines} we(e)k(en) waarvoor het totaal aan ingevoerde uren niet gelijk is aan 40.&lt;/p&gt;&lt;p&gt;Voor {!CounterLinesLarger1} is het verschil groter dan 1 uur.&lt;/p&gt;&lt;p&gt;De laatste 3 weken worden niet in aanmerking genomen.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Body_weeklist}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Body_weeklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterLinesLarger1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmptyStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeaderString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;body&gt;&lt;table border=&quot;1&quot;&gt;&lt;tr&gt;&lt;b&gt;&lt;td&gt;Week&lt;/td&gt;&lt;td&gt;Actual&lt;/td&gt;&lt;td&gt;Target&lt;/td&gt;&lt;/b&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Userprincipalname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Weeklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
