force-app/main/default/flows/VISITS_NeglectedAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordCollection_newTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNeglectedAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Task_to_book_new_meeting</name>
        <label>Prepare Task to book new meeting</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>record_newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNeglectedAccounts.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaskDuedate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNeglectedAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Date365daysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <formulas>
        <name>newTaskDuedate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+15</expression>
    </formulas>
    <interviewLabel>VISITS_NeglectedAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VISITS_NeglectedAccounts</label>
    <loops>
        <name>LoopNeglectedAccounts</name>
        <label>LoopNeglectedAccounts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetAccountsWithLastVisitDateIsMoreThan365daysAgo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Task_to_book_new_meeting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateTasksForNeglectedAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTasksForNeglectedAccounts</name>
        <label>CreateTasksForNeglectedAccounts</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>RecordCollection_newTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccountsWithLastVisitDateIsMoreThan365daysAgo</name>
        <label>GetAccountsWithLastVisitDateIsMoreThan365daysAgo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopNeglectedAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastEventDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Date365daysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052o00000AtX2BAAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountsWithLastVisitDateIsMoreThan365daysAgo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewTask_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Maak een nieuwe afspraak bij {!LoopNeglectedAccounts.Name}.  Het laatste bezoek dateert van {!LoopNeglectedAccounts.LastEventDate__c}.</text>
    </textTemplates>
    <variables>
        <name>record_newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecordCollection_newTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
